




.ch-img-m2p1{
	background: #eee url(../images/mod1/m2_p1.png) no-repeat center center;
	
}
.ch-img-m2p1a{
	background: #eee url(../images/mod1/m2_p1a.png) no-repeat center center;
	background-size:344px;
	
}

.ch-img-m2p1a1{
	background: #eee url(../images/mod1/m2_p1a1.png) no-repeat center center;
	background-size:344px;
}

.ch-img-m2p1a2{
	background: #eee url(../images/mod1/m2_p1a2.png) no-repeat center center;
	background-size:350px;
}
.ch-img-m2p4a{
	background: #eee url(../images/mod1/m2_p4a.png) no-repeat center center;
	background-size:350px;
	}
.ch-img-m2p7{
	background: #eee url(../images/mod1/m2_p7.png) no-repeat center center;
	background-size:350px;
	}


