.m4_p2{
	background:url(../images/mod4/m4_p2.png) no-repeat center center; width:475px; height:388px;
}
.m4_p3{
	background:url(../images/mod4/m4_p3.png) no-repeat center center; width:437px; height:252px;
}
.m4_p4{
	background:url(../images/mod4/m4_p4.png) no-repeat center center; width:437px; height:252px;
}
.m4_p11{
	background:url(../images/mod4/m4_p11.png) no-repeat center center; height: 326px; width: 399px; background-size:100%; 
}
.m4_p19{
	background:url(../images/mod4/m4_p19.png) no-repeat center center; width:404px; height:283px;
}
.m4_p24{
	background:url(../images/mod4/m4_p24.png) no-repeat center center; width:475px; height:388px;
}
.m4_p35{
	background:url(../images/mod4/m4_p35.png) no-repeat center center; width:475px; height:388px;
}