.learningobject {
	background: #fefefe url(../images/pat.jpg) repeat-x left bottom;
	border: 4px solid #B0977E;
	border-radius: 10px;
	color: #000000;
	font-size: 15px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding:10px 25px;
	
	text-align:center;
	
	text-decoration:none;
	display:block;
	float:left;
	cursor:pointer;
	clear:both;
	height:30px;
	line-height:26px;
	margin-left:16%;
	

}


.margnt1
{
margin-top:20px;
}

.mrgnT2 {
margin-top:4%;;
}

img
{
  margin: 1% 0 0 20%;

}

.copyright{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	margin-top:30px;
}

.ui-widget-content {
    background: url("images/ui-bg_flat_75_ffffff_40x100.png") #FFFFFF;
    border: 1px solid #0066CC;
    color: #222222;
}

.prntr{
	width:auto;
	height:50%;
	float:right;
}


 @media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {


.rightbtnbox { width:35%;}

.rightctnt { width:35%; float:right; }


.greenbtn { font-size:14px; line-height: 31px;
    min-height: 31px;
    padding: 5px 15px;}
	


#easyhtml5video video { width:50%; height:70%;}

#ritvideo video  { width:100% !important; height:50%; }	

.leftcontent { width:60%; float:left;}


.gridBig1, .gridBig, gridSml, .grid {
    color: #000000;
    display: inline-block;
    font-size: 14px;
    height: 230px;
    margin: 0 1%;
    text-align: center;
    width: 230px;
	float:right;
	}
	

.ch-img-1, .ch-img-2, .ch-img-3, .ch-img-4, .ch-img-5, .ch-img-6, .ch-img-7, .ch-img-8, .ch-img-9, .ch-img-10 {	
	-webkit-background-size: 80%;
	-moz-background-size: 80%;
	-o-background-size: 80%;
	-ms-background-size: 80%;
	background-size: 80%;
}





}







@media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

.rightctnt { width:35%; float:right;}
.rightbtnbox { width:35%;}

.greenbtn { font-size:14px; line-height: 31px;
    min-height: 31px;
    padding: 5px 5px; }



.leftcontent { width:60%; float:left;}


#easyhtml5video video { width:90%; height:50%; }

#ritvideo video  { width:100% !important; height:30%; }		




.gridBig1, .gridBig, gridSml, .grid {
    color: #000000;
    display: inline-block;
    font-size: 14px;
    height: 230px;
    margin: 0 1%;
    text-align: center;
    width: 230px;
	float:right;
	}


.ch-img-1, .ch-img-2, .ch-img-3, .ch-img-4, .ch-img-5, .ch-img-6, .ch-img-7, .ch-img-8, .ch-img-9, .ch-img-10 {	
	-webkit-background-size: 80%;
	-moz-background-size: 80%;
	-o-background-size: 80%;
	-ms-background-size: 80%;
	background-size: 80%;
}





}









/*
 @media screen and (max-width: 900px) {
 .leftcontent {
width:100%;
}
 .hgt3 .cn-slide {
height:auto !important;
padding-bottom:30px;
}
 .gridBig {
height: 320px;
 width: 320px;
}
 .dsply {
display:block;
}
 .cn-container h2 {
 font-size: 24px;
 line-height: 95px;
 text-align:center;
}
 .playerwrapper {
position: absolute;
bottom:0;
left:0;
z-index:1000;
display:none;
}
 .cn-slide {
 text-align: center;
 position: absolute;
 left: 0px;
 margin: 0 4%;
 opacity: 0;
 width:92%;
}
 .cn-container {
float:left;
}
 .imgcontaier img {
 width:100%;
 height:auto;
 width: auto\9; /* 
 max-width:100%;
 margin: 0;
}
 ul#footermenu {
 float: right;
}
}
 @media all and (max-width: 768px) {
 .cn-slide {
 left: 0;
 margin: 0 5%;
 opacity: 0;
 position: absolute;
 text-align: center;
}
}
*/


 @media all and (max-width: 480px) {
 .cn-container h2 {
 font-size: 18px;
 line-height: 95px;
 text-align:center;
}
 nav {
margin: 0 auto;
width:277px;
}
 .cn-container h3 {
font-size:16px;
}
 footer p.floatL {
display: none;
}
 img {
 width:80%;
 height:auto;
 width: auto\9; /* ie8 */
 max-width:100%;
 margin: 0 3%;
}

 .grid {
display: inline-block;
 height: 280px;
 margin: 5px 0;
 width: 280px;
}
 .gridBig {
height: 300px;
 width: 300px;
}
 .width30, .width55 {
width:100%;
float:left;
text-align:left;
}


.width55 { width:100%!important;}

.leftcontent, .learningobject, .rw-words p, .anstxt { font-size:12px;}

.rw-words h5 { font-size:14px;}

.mrgnL { margin-left:27%;}


.ch-item { width:85%; height:85%}

#nav li a { border-radius:0; border-bottom:1px solid #999;}

#one, #two, #three, #four { -webkit-background-size: 50%; -moz-background-size: 50%; -o-background-size: 50%; background-size: 50%;  -ms-background-size: 50%; min-height:250px; }

.cn-slide nav a { width:125px; padding:20% 0 0 0; height:75px;}

.plus { display:block; clear:both; width:100%; margin: 0 0 0 22%;}


.rightbtnbox { float:left; margin:2% 0 0 0;}

.rightbtnbox img { width: auto; height:auto; }


}
