 @media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

.rightbtnbox { width:35%;}
.rightctnt { width:35%; float:right; }

.width60 {
    float: left;
    width: 65%;
	
	}


.greenbtn {line-height: 31px;
    min-height: 31px;
    padding: 5px 15px;}
	

video { width:74%; height:350px !important;}




.leftcontent { width:60%; float:left;}


.gridBig1, .gridBig, gridSml, .grid, .grid300  {
    color: #000000;
    display: inline-block;
    height: 230px;
    margin: 0 1%;
    text-align: center;
    width: 230px;
	float:right;
	}
	

.ch-img-1, .ch-img-2, .ch-img-3, .ch-img-4, .ch-img-5, .ch-img-6, .ch-img-7, .ch-img-8, .ch-img-9, .ch-img-10, .ch-img-m1p10, .ch-img-m1p11 {	
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	-ms-background-size: 100%;
	background-size: 100%;
}


.ch-img-m3p1, .ch-img-m3p6, .ch-img-m4p1, .ch-img-m4p10 {


 -webkit-background-size: 85%;
	-moz-background-size: 85%;
	-o-background-size: 85%;
	-ms-background-size: 85%;
	background-size: 85%;


}




}







@media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

video { width:74%; height:350px !important;}

h5 { font-size:20px !important; }

.leftcontent { font-size:18px !important;}

.width60 {
    float: left;
    width: 65%;
	
	}

.rightctnt { width:35%; float:right;}
.rightbtnbox { width:35%;}

.greenbtn { font-size:14px; line-height: 31px;
    min-height: 31px;
    padding: 5px 5px; }



.leftcontent { width:60%; float:left;}


/*#easyhtml5video video { width:90%; height: auto;}*/


.gridBig1, .gridBig, gridSml, .grid, .grid300 {
    color: #000000;
    display: inline-block;
    font-size: 14px;
    height: 230px;
    margin: 0 1%;
    text-align: center;
    width: 230px;
	float:right;
	}


.ch-img-1, .ch-img-2, .ch-img-3, .ch-img-4, .ch-img-5, .ch-img-6, .ch-img-7, .ch-img-8, .ch-img-9, .ch-img-10, .ch-img-m1p10, .ch-img-m1p11 {	
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	-ms-background-size: 100%;
	background-size: 100%;
}


.ch-img-m3p1, .ch-img-m3p6, .ch-img-m4p1 {


 -webkit-background-size: 85%;
	-moz-background-size: 85%;
	-o-background-size: 85%;
	-ms-background-size: 85%;
	background-size: 85%;


}


}
 
 
 @media all and (max-width: 480px) {
 .cn-container h2 {
 font-size: 18px;
 line-height: 95px;
 text-align:center;
}
 nav {
margin: 0 auto;
width:277px;
}
 .cn-container h3 {
font-size:16px;
}
 footer p.floatL {
display: none;
}
 img {
 width:80%;
 height:auto;
 width: auto\9; /* ie8 */
 max-width:100%;
 margin: 0 3%;
}

 .grid300 {
display: inline-block;
 height: 300px;
 margin: 5px 0;
 width: 300px;
}
 .grid {
height: 300px;
 width: 300px;
}

.grid200 {
	display: inline-block;
	height: 200px;
	margin: 4% 1%;
	width: 200px;
	text-align:center;
	color:#000;
	font-size:16px;
}
.mr
{
	margin: 30% 1%;
}

 .width30 {
width:100%;
float:left;
text-align:left;
}



.mrgnL { margin-left:27%;}

.ch-img-10 {
	background: #eee url(../images/girl.jpg) no-repeat center center;
	background-size:54%;
}

.ch-img-2 {
	background: #eee url(../images/media-influence-1.jpg) no-repeat center center;
	background-size:58%;
}

.ch-img-3 {
	background: #eee url(../images/media-influence-2.jpg) no-repeat center center;
	background-size:58%;
}

.ch-img-4 {
	background: #eee url(../images/media-influence-3.jpg) no-repeat center center;
	background-size:58%;
}

.ch-img-11 {
	background: #eee url(../images/billboard_ad.jpg) no-repeat center center;
	background-size:55%;
}

.ch-img-12 {
	background: #eee url(../images/blog_post.jpg) no-repeat center center;
	background-size:71%;
}

.ch-img-13 {
	background: #eee url(../images/magzine.jpg) no-repeat center center;
	background-size:58%;
}

.ch-img-14 {
	background: #eee url(../images/movie_poster.jpg) no-repeat center center;
	background-size:58%;
}
.ch-img-15 {
	background: #eee url(../images/website-article.jpg) no-repeat center center;
	background-size:75%;
}

.ch-img-16 {
	background: #eee url(../images/message-layers.jpg) no-repeat center center;
	background-size:59%;
}




#nav section {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    overflow: hidden;
	float:none;
   
}


.gridsquare {
    display: inline-block;
    height: 242px;
    margin: 20px 0;
    width: 320px;
}
.ch-img-m3p6a{
	background: #eee url(../images/mod3/m3_p6_a.png) no-repeat center center;
	background-size:96%;
}
.ch-img-m3p6b{
	background: #eee url(../images/mod3/m3_p6_b.png) no-repeat center center;
	background-size:96%;
}

.ch-img-m3p6c{
	background: #eee url(../images/mod3/m3_p6_c.png) no-repeat center center;
	background-size:96%;
}

.ch-img-m3p6d{
	background: #eee url(../images/mod3/m3_p6_d.png) no-repeat center center;
	background-size:96%;
}
.innner6 {
    background: none repeat scroll 0 0 / 100% auto #FF3333;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	-ms-background-size: 100%;
	background-size: 100%;
    border: 2px solid #FFCC00;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
}
.p3 {
    bottom: 36px;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin: 53px 0 0 60px;
    position: relative;
    text-align: justify;
    width: 200px;
}




}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 


body { min-height:650px !important;}
video { width:74%; height:350px !important;}



}





