html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width:100%;
}

body {
	-webkit-text-size-adjust:none;
	font:14px/1.4 Arial, sans-serif;
	background:#dceef8;
	color:#000000;
	margin:0;
}

.container{
margin: 0 10px 0 10px;
padding: 0 0 0 0;
width:98%;
}

h2{
font:20px/1.4 Arial, sans-serif;
color:#0066cc;
font-weight:bold;
}

h3{
font:16px/1.4 Arial, sans-serif;
color:#0066cc;
font-weight:bold;
}



.couselist li  { margin:5px 0;}


.reflist { border:2px solid #0066CC; float:left; }


.reflist h3{
font:14px/1.4 Arial, sans-serif;
color:#fff;
font-weight:bold;
background-color:#0066CC;
padding: 10px 0 10px 10px;
margin-top:0px;
}


.reflist ul li { list-style:decimal; margin:20px 0;  float:left;}



