






.ch-img-m3p2{
	background: #eee url(../images/mod3/m3_p2.png) no-repeat center center;
	background-size:100%;
	}
.ch-img-m3p6{
	background: #eee url(../images/mod3/m3_p6.png) no-repeat center center;
	background-size:100%;
	}

.ch-img-m3p9{
	background: #eee url(../images/mod3/m3_p9.png) no-repeat center center;
	background-size:100%;
	}
.ch-img-m3p10a{
	background: #eee url(../images/mod3/m3_p10a.png) no-repeat center center;
	background-size:100%;
	}
	
	
	.ch-img-storm{
	background: #eee url(../images/storm.png) no-repeat center center;
	background-size:100%;
	}




