
/*----------------------
	Camera slide up
-----------------------*/
.mouseIcon {
	background:url('../images/mouse_icon.png');
	width:45px;
	height:33px;
	position:relative;
	float:left;
	margin-left:1px;
	margin-right:5px;
	margin-top:-10px;
	opacity:0; 
	filter: alpha(opacity = 0);
	}
	.mouseIcon1 {
	background:url('../images/mouse_icon1.png');
	width:45px;
	height:33px;
	position:relative;
	float:left;
	margin-left:1px;
	margin-right:5px;
	margin-top:-10px;
	opacity:0; 
	filter: alpha(opacity = 0);
	}
.Txt200{ width:200px;}
.Txt300{ width:300px;}
.Txt350{ width:350px;}
.Txt400{ width:400px;}
.Txt450{ width:450px;}
.Txt500{ width:500px;}
.Txt550{ width:550px;}
.Txt600{ width:600px;}
.Txt700{ width:700px;}
.Txt750{ width:750px;}
.Txt800{ width:800px;}
.mrLT10 {margin-top:10px; margin-left:10px;}
.mrT10 {margin-top:8px;}
.mrT11 {margin-top:11px;}
.mrT15 {margin-top:15px;}
.mrT20 {margin-top:20px;}
.mrL20 {margin-left:20px;}
.shadow {
	 border-radius:8px;
	-o-box-shadow:0 0 6px rgba(0,0,0,0.7);
	-moz-box-shadow:0 0 6px rgba(0,0,0,0.7);
	-webkit-box-shadow:0 0 6px rgba(0,0,0,0.7);
	box-shadow:0 0 6px rgba(0,0,0,0.7);
}

#camera{
	background:#0066cc;
	/*border:1px solid #666;*/
	

	position: fixed;
	overflow: hidden;
	margin-left:0px;
	-moz-border-radius:0px 0px 0 0;
	-webkit-border-radius:0px 0px 0 0;
	border-radius:0px 0px 0 0;
	
	-moz-box-shadow:0 0 4px rgba(0,0,0,0.6);
	-webkit-box-shadow:0 0 4px rgba(0,0,0,0.6);
	box-shadow:0 0 4px rgba(0,0,0,0.6);
}

.camTop{
	width:250px;
	height:42px;
	position: fixed;
	left:0;
	cursor:pointer;
	z-index:99999;
	background:#0066cc;
	bottom:1px;
	
}
.MenuBarHeading {
	color:#FFFFFF;
	margin-top:12px;
	margin-left:100px;
	font-size:18px;
	width:80px;
	-webkit-text-shadow:1px 1px 0 rgba(0,0,0,.3);
	-moz-text-shadow:1px 1px 0 rgba(0,0,0,.3);
	text-shadow:1px 1px 0 rgba(0,0,0,.3);
	font-family:Arial, Helvetica, sans-serif;
}


#screen{
	width:250px;
	height:258px; max-height:900px;
	margin: 43px auto 0px;
	background:#89c5ee;		
    text-align: left;
	color:#fff;
	overflow:auto;
	overflow-x:hidden;	
}

.patch { padding:10px 10px 10px 10px;}
.arrowUp{
	background:url('../images/arrow_up.png') no-repeat;
	position:absolute;
	height:32px;
	width:32px;
	float:left;
	left: 211px;
	top: 6px;
	z-index:9999999999;
}
.arrowDwn{
	background:url('../images/arrow_down.png') no-repeat;
	position:absolute;
	height:32px;
	width:32px;
	float:left;
	left: 211px;
	top: 6px;
	display:none;
	z-index:99999999;
}

.li1 {
	background:url('../images/blt1.png') no-repeat;
	margin-left:10px;
	width:11px;
	height:16px;
	position:relative;
	margin-top:2px;
	margin-right:10px;
	float:left;
	opacity:0;
	filter: alpha(opacity = 0);

}
.li {
	background:url('../images/blt.png') no-repeat;
	margin-left:10px;
	margin-top:2px;
	width:20px;
	min-height:17px;
	max-height:auto;
	bottom:0;
	float:left;
	opacity:0;
	filter: alpha(opacity = 0);
}
.li_b1 {
	background:url('../images/blt_b.png') no-repeat;
	margin-left:10px;
	margin-top:2px;
	width:20px;
	min-height:17px;
	max-height:200px;
	position:relative;
	float:left;
	filter: alpha(opacity = 0);
}
#bltArow { background:url('../images/arrow_1.png'); height:13px; width:15px; float:left; margin-left:27px; margin-right:7px; margin-top:1px; position:relative; filter: alpha(opacity = 0); opacity:0;}
.bltArow { 
	background:url('../images/arrow_1.png'); 
	height:13px; width:15px; 
	float:left; 
	margin-left:27px; 
	margin-right:7px; 
	margin-top:1px; 
	position:relative; 
	filter: alpha(opacity = 0); 
	opacity:0;
	}
.li_p {
	background:url('../images/blt_p.png') no-repeat;
	margin-right:10px;
	margin-left:10px;
	margin-top:2px;
	width:11px;
	height:17px;
	position:relative;
	float:left;
	opacity:0;
	filter: alpha(opacity = 0);
}
.li_b {
	background:url('../images/blt_blue.png') no-repeat;
	margin-right:10px;
	margin-left:10px;
	margin-top:2px;
	width:11px;
	height:17px;
	position:relative;
	float:left;
	filter: alpha(opacity = 0);
}
/*#MenuSlider {
	float:left;
	overflow:scroll;
	top:0px;
}
*/

.centeredcontent {
	width: 604px;
	height: 340px;
	position: absolute;
	left:47%;
	top:50%;
	margin-top:-350px;		
	margin-left: -320px; 
	
}
.animationArea {

	padding-bottom:10px;
	overflow-x:hidden;
	font-family:Tahoma;		
}
 
  .popupBorderRight {
	 margin-left:10px;
 }
.AnimL {position:relative; opacity:0; filter: alpha(opacity = 0); left:50px;}
.Anim {position:relative; opacity:0; filter: alpha(opacity = 0);}

.note { 
	background:url(../../../images/note1.png);
	float:left;
	width:41px;
	margin-top:-8px;
	margin-left:-3px;
	margin-right:5px;
	height:48px; 
	position: relative; 
	opacity:0;
	filter: alpha(opacity = 0);
	}
	
	

::-webkit-scrollbar {
     width:15px;
	 height:15px;
}




::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
	width: 10px;
	display: block;
	background-color:rgba(0, 102, 204, 0.5);
}
::-webkit-scrollbar-track-piece {
	background-color:rgba(0, 102, 204, 0.3);
	width: 10px;
 
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal{
	height: 5px;
	background-color:rgba(0, 102, 204, 1);
}




-moz-scrollbar-button:start:decrement,
-moz-scrollbar-button:end:increment  {
	width: 10px;
	display: block;
	background-color:rgba(0, 102, 204, 0.5);
}
-moz-scrollbar-track-piece {
	background-color:rgba(0, 102, 204, 0.3);
	width: 10px;
 
}

-moz-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal{
	height: 5px;
	background-color:rgba(0, 102, 204, 1);
}
	


 @media all and (max-width: 480px) {

	

.MenuBarHeading  { font-size:12px; }

.arrowUp, .arrowDwn { right:7px; left:auto;  }



/*#fix { height:86px;}*/


#Flot_UI_Right_bottom {
    bottom: 0;
    float: right;
    position: absolute;
    right: 0;
}


.camTop{ width:45%;  }

#Flot_UI_Right_bottom {background:#89c5ee; z-index:2; height:43px;}
	
	}
	
	
	.divblue { width:250px; height:45px; background:#0066cc; position:absolute; z-index:1;}
	
	
	 @media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {




.MenuBarHeading  { font-size:20px; font-weight:bold;}

.filetree li { font-size:16px;}


#camera{


	position: absolute;

	
}


.camTop { height:42px !important; }


.divblue { width:250px; height:45px; background:#0066cc; position:absolute; z-index:1;}





}



@media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {




.MenuBarHeading  { font-size:24px; font-weight:bold; }

.filetree li { font-size:18px;}

.camTop { height:42px; }

#camera{


	position: absolute;
	widows:250px;
	
}


}	