 @media screen and (max-width: 1024px) {
 .width30 {
width:80%;
float:left;
text-align:left;
}
 .width60 {
width:100%;
float:left;
}

 video {
 width: 90%;
 height: 90%;
}

#easyhtml5video { text-align:left;}
}







 @media screen and (max-width: 900px) {
 .leftcontent {
width:100%;
}
 .hgt3 .cn-slide {
height:auto !important;
padding-bottom:30px;
}
 .grid{
height: 320px;
 width: 320px;
}
 .dsply {
display:block;
}
 .cn-container h2 {
 font-size: 24px;
 line-height: 95px;
 text-align:center;
}
 .playerwrapper {
position: absolute;
bottom:0;
left:0;
z-index:1000;
display:none;
}
 .cn-slide {
 text-align: left;
 position: absolute;
 left: 0px;
 margin: 0 4%;
 opacity: 0;
 width:92%;
}
 .cn-container {
float:left;
}
 .imgcontaier img {
 width:100%;
 height:auto;
 width: auto\9; /* ie8 */
 max-width:100%;
 margin: 0;
}
 ul#footermenu {
 float: right;
}



}







 @media all and (max-width: 768px) {
 .cn-slide {
 left: 0;
 margin: 0 5%;
 opacity: 0;
 position: absolute;
 text-align: left;
}




}











 @media all and (max-width: 668px) {
}
 
 
 
 
 
 
 
 
 
 
 
 @media all and (max-width: 480px) {
 .cn-container h2 {
 font-size: 18px;
 line-height: 95px;
 text-align:center;
}
 nav {
margin: 0 auto;
width:277px;
}
 .cn-container h3 {
font-size:16px;
}
 footer p.floatL {
display: none;
}
 img {
 width:80%;
 height:auto;
 width: auto\9; /* ie8 */
 max-width:100%;
 margin: 0 3%;
}

 .grid300 {
display: inline-block;
 height: 300px;
 margin: 5px 0;
 width: 300px;
}
 .grid {
height: 300px;
 width: 300px;
}

.grid200 {
	display: inline-block;
	height: 200px;
	margin: 4% 1%;
	width: 200px;
	text-align:center;
	color:#000;
	font-size:16px;
}
.mr
{
	margin: 30% 1%;
}

 .width30 {
width:100%;
float:left;
text-align:left;
}

.leftcontent, .learningobject, .rw-words p, .anstxt { font-size:12px;}

.rw-words h5 { font-size:14px;}

.mrgnL { margin-left:27%;}





#nav section {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    overflow: hidden;
	float:none;
   
}


.gridsquare {
    border: 1px solid #000000;
    display: inline-block;
    height: 290px;
    width: 271px;
}
.innner6 {
    background: none repeat scroll 0 0 / 100% auto #FF3333;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	-ms-background-size: 100%;
	background-size: 100%;
    border: 2px solid #FFCC00;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
}
.p3 {
    bottom: 36px;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin: 53px 0 0 60px;
    position: relative;
    text-align: justify;
    width: 200px;
}

.ch-img-m3p21{
	background: #eee url(../images/mod3/m3_pg21.png) no-repeat center center;
	background-size:168px;
}
.ch-img-m3p22{
	background: #eee url(../images/mod3/m3_pg22.png) no-repeat center center;
	background-size:334px;
}

.ch-img-m3p22b{
	background: #eee url(../images/mod3/m3_pg22b.png) no-repeat center center;
	background-size:334px;
}

.gridsquare2 {
    border: 1px solid #000000;
    display: inline-block;
    height: 275px;
    width: 276px;
}
.gridsquare3 {
    border: 1px solid #000000;
    display: inline-block;
    height: 250px;
    width: 270px;
}
.ch-img-m3p13{
	background: #eee url(../images/mod3/m3_pg13.png) no-repeat center center;
	background-size:334px;
}
.ch-img-m3p13a{
	background: #eee url(../images/mod3/m3_pg13_a.png) no-repeat center center;
	background-size:334px;
}
.ch-img-m3p3{
	background: #eee url(../images/mod3/m3_pg3.png) no-repeat center center;
	background-size:278px;
}
.ch-img-m3p5{
	background: #eee url(../images/mod3/m3_pg5.png) no-repeat center center;
	background-size:278px;
}
.ch-img-m3p5a{
	background: #eee url(../images/mod3/m3_pg5_a.png) no-repeat center center;
	background-size:278px;
}
.ch-img-m3p9{
	background: #eee url(../images/mod3/m3_pg9.png) no-repeat center center;
	background-size:278px;
}

.ch-img-m3p12{
	background: #eee url(../images/mod3/m3_pg12.png) no-repeat center center;
	background-size:278px;;
}
.ch-img-m3p28{
	background: #eee url(../images/mod3/m3_pg28.png) no-repeat center center;
	background-size:302px;
}
.gridsquare4 {
    border: 1px solid #000000;
    display: inline-block;
    height: 259px;
    width: 329px;
}
.ch-img-m3p25a{
	background: #eee url(../images/mod3/m3_pg25_a.png) no-repeat center center;
	background-size:215px;
}
.ch-img-m3p25b{
	background: #eee url(../images/mod3/m3_pg25_b.png) no-repeat center center;
	background-size:288px;
}
.ch-img-m3p18a{
	background: #eee url(../images/mod3/m3_pg18_a.png) no-repeat center center;
	background-size:215px;
}
.ch-img-m3p18b{
	background: #eee url(../images/mod3/m3_pg18_b.png) no-repeat center center;
	background-size:255px;
}
.ch-img-m3p11a{
	background: #eee url(../images/mod3/m3_pg11_a.png) no-repeat center center;
	background-size:274px;
}
.ch-img-m3p11b{
	background: #eee url(../images/mod3/m3_pg11_b.png) no-repeat center center;
	background-size:166px;
}
.ch-img-m3p18c{
	background: #eee url(../images/mod3/m3_pg18_c.png) no-repeat center center;
	background-size:255px;
}







}





