@media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

body#pghgt { min-height:800px; }

.gridSml {width: 270px; height:auto;}
.ch-item {width:270px !important; height: 270px;}

.gridSml_b {width: 330px; height:auto;}
.ch-item_b {width:330px !important; height: 330px;}

.ch-img-m3p21, .ch-img-m3p22, .ch-img-m3p22b, .ch-img-m3p23a, .ch-img-m3p23b, 
.ch-img-m3p23c, .ch-img-m3p16a, .ch-img-m3p16b, .ch-img-m3p16c, .ch-img-m3p17a, 
.ch-img-m3p17b, .ch-img-m3p17c, .ch-img-m3p24a, .ch-img-m3p24b, .ch-img-m3p24c, 
.ch-img-m3p24d, .ch-img-m3p27a, .ch-img-m3p27b, .ch-img-m3p27c, .ch-img-m3p13, 
.ch-img-m3p13a, .ch-img-m3p3, .ch-img-m3p5, .ch-img-m3p5a, .ch-img-m3p9, .ch-img-m3p26b, 
.ch-img-m3p1, .ch-img-m3p12, .ch-img-m3p28, .ch-img-m3p25a, .ch-img-m3p25b, .ch-img-m3p18a, 
.ch-img-m3p18b, .ch-img-m3p11a, .ch-img-m3p11b, .ch-img-m3p18c { width:47%; margin-right:10px;} 

#nav {width: 98%; position: relative; border: none; float:left; margin-right:10px;}
#nav section {width:100%;}
.nav1{ width:100% !important;}

.pg01{height:400px;} 
.pg02{height:400px;}
.pg03{height:583px;}/*for video only*/
.pg04{height:500px;}
.pg04a{height:400px;}
.pg05{height:583px;}/*for video only*/
.pg06{height:570px;}
.pg07{height:570px;}
.pg08{height:500px;}
.pg09{height:550px;}
.pg10{height:583px;} /*for video only*/
.pg11{height:550px;}
.pg12{height:630px;}
.pg13{height:700px;}
.pg14{height:630px;}
.pg15{height:850px;}
.pg16{height:583px;} /*for video only*/
.pg17{height:400px;}
.pg18{height:640px;}
.pg19{height:650px;}
.pg20{height:600px;}
.pg21{height:400px;}
.pg22{height:400px;}
.pg23{height:950px;}
.pg24{}
.pg25{height:400px;}
.pg26{height:880px;}
.pg27{height:400px;}
.pg28{height:710px;}
.pg29{height:780px;}
.pg30{height:870px;}
.pg31{height:583px;} /*for video only*/
.pg32{height:400px;}
.pg33{height:600px;}
.pg34{height:700px;}
.pg35{height:400px;}



.tab-panel{ width:80%;}
.simplelisting li { margin-left:10px !important;}

video { width:74%; height:350px !important; }





}



@media screen and (device-aspect-ratio: 1280/720) {
video { width:74%; height:350px  }
}



@media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

body#pghgt { min-height:800px; }
h5 { font-size:20px !important;}
 .leftcontent {font-size:18px !important;}

.gridSml{width: 300px;	height:auto;}
.ch-item {width:300px !important; height: 300px;}

.gridSml_b{width:400px;	height:auto;}
.ch-item_b {width:400px !important; height: 800px;}

.ch-img-m3p21, .ch-img-m3p22, .ch-img-m3p22b, .ch-img-m3p23a, .ch-img-m3p23b, 
.ch-img-m3p23c, .ch-img-m3p16a, .ch-img-m3p16b, .ch-img-m3p16c, .ch-img-m3p17a, 
.ch-img-m3p17b, .ch-img-m3p17c, .ch-img-m3p24a, .ch-img-m3p24b, .ch-img-m3p24c, 
.ch-img-m3p24d, .ch-img-m3p27a, .ch-img-m3p27b, .ch-img-m3p27c, .ch-img-m3p13, 
.ch-img-m3p13a, .ch-img-m3p3, .ch-img-m3p5, .ch-img-m3p5a, .ch-img-m3p9, .ch-img-m3p26b, 
.ch-img-m3p1, .ch-img-m3p12, .ch-img-m3p28, .ch-img-m3p25a, .ch-img-m3p25b, .ch-img-m3p18a, 
.ch-img-m3p18b, .ch-img-m3p11a, .ch-img-m3p11b, .ch-img-m3p18c { width:47%;} 

#nav {width:550px; /*position: relative; border: none; float:left;*/}
#nav section {width:100%;}
.nav1{ width:100% !important;}

.tab-panel, .w60{ width:80%;}
.simplelisting li { margin-left:10px !important;}

.width50 {width:50%; float:left;}

video { width:74%; height:350px !important; }
}
 
 
 @media all and (max-width: 480px) {
 .cn-container h2 {
 font-size: 18px;
 line-height: 95px;
 text-align:center;
}
 nav {
margin: 0 auto;
width:277px;
}
 .cn-container h3 {
font-size:16px;
}
 footer p.floatL {
display: none;
}
 img {
 width:80%;
 height:auto;
 width: auto\9; /* ie8 */
 max-width:100%;
 margin: 0 3%;
}

 .grid300 {
display: inline-block;
 height: 300px;
 margin: 5px 0;
 width: 300px;
}
 .grid {
height: 300px;
 width: 300px;
}

.grid200 {
	display: inline-block;
	height: 200px;
	margin: 4% 1%;
	width: 200px;
	text-align:center;
	color:#000;
	font-size:16px;
}
.mr
{
	margin: 30% 1%;
}

 .width30 {
width:100%;
float:left;
text-align:left;
}

.leftcontent, .learningobject, .rw-words p, .anstxt { font-size:12px;}

.rw-words h5 { font-size:14px;}

.mrgnL { margin-left:27%;}

#nav section {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    overflow: hidden;
	float:none;
   
}


.gridsquare {
    display: inline-block;
    height: 242px;
    margin: 20px 0;
    width: 320px;
}

.innner6 {
    background: none repeat scroll 0 0 / 100% auto #FF3333;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	-ms-background-size: 100%;
	background-size: 100%;
    border: 2px solid #FFCC00;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
}
.p3 {
    bottom: 36px;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin: 125px 0 0 60px;
    position: relative;
    text-align: justify;
    width: 200px;
}


.gridsquare {
	display: inline-block;
	height: 230px;
    width: 280px;
	border: 1px solid #000000;
}



.gridsquare1 {
	display: inline-block;
	height: 163px;
    width: 280px;
	border: 1px solid #000000;
}

.gridsquare2 {
	display: inline-block;
	height: 272px;
	width: 330px;
    margin:20px 0;
    border: 1px solid #000000;
}

.gridsquare3 {
	display: inline-block;
	width:404px;
	height:283px;
	border: 1px solid #000000;
}

}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 


body { min-height:650px !important;}
video { width:74%; height:350px !important; }



}





