.ch-img-m3p21{
	background:url(../images/mod3/m3_pg21.png) no-repeat center center; width:300px; height:400px;
}
.ch-img-m3p22{
	background:url(../images/mod3/m3_pg22.png) no-repeat center center; width:424px; height:314px;
}
.ch-img-m3p22b{
	background:url(../images/mod3/m3_pg22b.png) no-repeat center center; width:510px; height:378px;
}
.ch-img-m3p23a{
	background:url(../images/mod3/m3_pg23_a.png) no-repeat center center; width:341px; height:249px;
}
.ch-img-m3p23b{
	background:url(../images/mod3/m3_pg23_b.png) no-repeat center center; width:340px; height:247px;
}
.ch-img-m3p23c{
	background:url(../images/mod3/m3_pg23_c.png) no-repeat center center; width:340px; height:247px;
}
.ch-img-m3p16a{
	background:url(../images/mod3/m3_pg16_a.png) no-repeat center center; width:341px; height:253px;
}
.ch-img-m3p16b{
	background:url(../images/mod3/m3_pg16_b.png) no-repeat center center; width:341px; height:255px;
}
.ch-img-m3p16c{
	background:url(../images/mod3/m3_pg16_c.png) no-repeat center center; width:341px; height:255px;
}
.ch-img-m3p17a{
	background:url(../images/mod3/m3_pg17_a.png) no-repeat center center; width:341px; height:255px;
}
.ch-img-m3p17b{
	background:url(../images/mod3/m3_pg17_b.png) no-repeat center center; width:341px; height:255px;
}
.ch-img-m3p17c{
	background:url(../images/mod3/m3_pg17_c.png) no-repeat center center; width:341px; height:255px;
}
.ch-img-m3p24a{
	background:url(../images/mod3/m3_pg24_a.png) no-repeat center center; width:341px; height:255px;
}
.ch-img-m3p24b{
	background:url(../images/mod3/m3_pg24_b.png) no-repeat center center; width:341px; height:255px;
}
.ch-img-m3p24c{
	background:url(../images/mod3/m3_pg24_c.png) no-repeat center center; width:341px; height:255px;
}
.ch-img-m3p24d{
	background:url(../images/mod3/m3_pg24_d.png) no-repeat center center; width:341px; height:255px;
}
.ch-img-m3p27a{
	background:url(../images/mod3/m3_pg27_a.png) no-repeat center center; width:341px; height:255px;
}
.ch-img-m3p27b{
	background:url(../images/mod3/m3_pg27_b.png) no-repeat center center; width:341px; height:255px;
}
.ch-img-m3p27c{
	background:#ffecec url(../images/mod3/m3_pg27_c.png) no-repeat center center; width:341px; height:255px;
}
.ch-img-m3p13{
	background:url(../images/mod3/m3_pg13.png) no-repeat center center; width:510px; height:368px;
}
.ch-img-m3p13a{
	background:url(../images/mod3/m3_pg13_a.png) no-repeat center center; width:510px; height:364px;
}
.ch-img-m3p3{
	background:url(../images/mod3/m3_pg3.png) no-repeat center center; width:421px; height:272px;
}
.ch-img-m3p5{
	background:url(../images/mod3/m3_pg5.png) no-repeat center center; width:406px; height:358px;
}
.ch-img-m3p5a{
	background:url(../images/mod3/m3_pg5_a.png) no-repeat center center; width:474px; height:381px;
}
.ch-img-m3p9{
	background:url(../images/mod3/m3_pg9.png) no-repeat center center; width:460px; height:364px;
}
.ch-img-m3p26b{
	background:#ffecec url(../images/mod3/m3_pg26_b.png) no-repeat center center; width:341px; height:255px;
}
.ch-img-m3p1{
	background:url(../images/mod3/m3_p1.png) no-repeat center center; width:500px; height:336px;
}
.ch-img-m3p12{
	background:url(../images/mod3/m3_pg12.png) no-repeat center center; width:416px; height:316px;
}
.ch-img-m3p28{
	background:url(../images/mod3/m3_pg28.png) no-repeat center center; width:500px; height:336px;
}
.ch-img-m3p25a{
	background:url(../images/mod3/m3_pg25_a.png) no-repeat center center; width:293px; height:336px;
}
.ch-img-m3p25b{
	background:url(../images/mod3/m3_pg25_b.png) no-repeat center center; width:414px; height:299px;
}
.ch-img-m3p18a{
	background:url(../images/mod3/m3_pg18_a.png) no-repeat center center; width:289px; height:306px;
}
.ch-img-m3p18b{
	background:url(../images/mod3/m3_pg18_b.png) no-repeat center center; width:350px; height:299px;
}
.ch-img-m3p11a{
	background:url(../images/mod3/m3_pg11_a.png) no-repeat center center; width:532px; height:346px;
}
.ch-img-m3p11b{
	background:url(../images/mod3/m3_pg11_b.png) no-repeat center center; width:223px; height:334px;
}
.ch-img-m3p18c{
	background:url(../images/mod3/m3_pg18_c.png) no-repeat center center; width:350px; height:299px;
}

