


 @media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

.rw-words h5 {
    color: #0066CC;
    font-size: 22px;
    font-weight: normal;
    margin: 1% 0;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 1px 1px 1px rgba(0, 0, 0, 0.2);}



.gridBig1, .gridBig {
    color: #000000;
    display: inline-block;
    font-size: 20px;
    height: 242px;
    margin: 0 1%;
    text-align: center;
    width: 250px;
	float:right;
	}
	
.gridSml, .grid, .gridSm4 {
   color: #000000;
    display: inline-block;
    font-size: 20px;
    height: 250px;
    margin: 0 1%;
    text-align: center;
    width: 250px;
	
	}	

.width60, .leftcontent { width:60%; float:left;}

.floatleft { float:left;}

.floatright { float:right;}


video { width:74%; height:350px; }


.ch-img-1, .ch-img-2, .ch-img-3 .ch-img-6, .ch-img-7, .ch-img-8, .ch-img-9, .ch-img-10 {
	
	-webkit-background-size: 65%;
 -moz-background-size: 65%;
 -o-background-size: 65%;
 -ms-background-size: 65%;
 background-size: 65%;
}


.ch-img-8 { 
	-webkit-background-size: 45%;
 -moz-background-size: 45%;
 -o-background-size: 45%;
 -ms-background-size: 45%;
 background-size: 45%;}


.playerwrapper {
	clear:both;
	position: absolute;
	bottom:0px;
	right:20px;
	z-index:99999999;
	visibility:hidden;
	
}

#pagehgt80 div.cn-slide{ padding-bottom:50px;}



}
@media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

.cn-slide { font-size:18px;}

.width60, .leftcontent  { width:60%; font-size:22px;}






.gridBig1, .gridBig {
    color: #000000;
    display: inline-block;
    font-size: 20px;
    height: 302px;
    margin: 0 1%;
    text-align: center;
    width: 300px;
	float:right;
	}
	

.gridSml, .grid, .gridSm4 {
    color: #000000;
    display: inline-block;
    font-size: 20px;
    height: 282px;
    margin: 0 1%;
    text-align: center;
    width: 280px;
	
	}	
	

video { width:74%; height:350px; }
.floatleft { float:left;}

.floatright { float:right;}

.cn-container h3 { font-size:30px; margin:10px 0 5px 0;}

.ch-img-1, .ch-img-2, .ch-img-3 .ch-img-6, .ch-img-7, .ch-img-9, .ch-img-10  {

	-webkit-background-size: 65%;
 -moz-background-size: 65%;
 -o-background-size: 65%;
 -ms-background-size: 65%;
 background-size: 65%;
}


.ch-img-8 { 
	-webkit-background-size: 45%;
 -moz-background-size: 45%;
 -o-background-size: 45%;
 -ms-background-size: 45%;
 background-size: 45%;}


.learningobject  { font-size:18px;}

.playerwrapper {
	clear:both;
	position: absolute;
	bottom:0px;
	right:20px;
    visibility:hidden;
	
	
	
}


.rw-words h5 {
    color: #0066CC;
    font-size: 22px;
    font-weight: normal;
    margin: 1% 0;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 1px 1px 1px rgba(0, 0, 0, 0.2);}



}



 @media all and (max-width: 480px) {
 .cn-container h2 {
 font-size: 18px;
 line-height: 95px;
 text-align:center;
}
 nav {
margin: 0 auto;
width:277px;
}
 .cn-container h3 {
font-size:16px;
}
 footer p.floatL {
display: none;
}
 img {
 width:80%;
 height:auto;
 width: auto\9; /* ie8 */
 max-width:100%;
 margin: 0 3%;
}

 .grid {
display: inline-block;
 height: 280px;
 margin: 5px 0;
 width: 280px;
}
 .gridBig {
height: 300px;
 width: 300px;
}
 .width30 {
width:100%;
float:left;
text-align:left;
}

.leftcontent, .learningobject, .rw-words p, .anstxt { font-size:12px;}

.rw-words h5 { font-size:14px;}

.mrgnL { margin-left:27%;}



}


@media screen and (device-aspect-ratio: 1280/720) {
video { width:74%; height:350px  }
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 


body { min-height:650px !important;}
video { width:74%; height:350px; }

}

