* {
    font: 14px Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    
    -o-box-sizing: border-box;
    /* Opera */
    
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

body {
    padding-top: 80px;
    padding-bottom: 50px;
}

header div.container-fluid,
#footer div.container-fluid {
    background: #ffffff;
    /* Old browsers */
    
    background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 12%, #8ac5ee 65%, #8ac5ee 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(12%, #ffffff), color-stop(65%, #8ac5ee), color-stop(100%, #8ac5ee));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 12%, #8ac5ee 65%, #8ac5ee 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(left, #ffffff 0%, #ffffff 12%, #8ac5ee 65%, #8ac5ee 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(left, #ffffff 0%, #ffffff 12%, #8ac5ee 65%, #8ac5ee 100%);
    /* IE10+ */
    
    background: linear-gradient(to right, #ffffff 0%, #ffffff 12%, #8ac5ee 65%, #8ac5ee 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8ac5ee', GradientType=1);
    /* IE6-9 */
}

header {
    display: block;
    height: 80px;
    float: left;
    z-index: 11;
    overflow: hidden;
    background-color: #4267A8;
}

.header-bottom,
.footer-top {
    position: relative;
    height: 5px;
    background-color: #f8c500;
}

#title {
    font-weight: bold;
    font-style: oblique;
    color: white;
    font-size: 0.85em;
    padding: 0.58em;
    position: relative;
    background-color: #4267A8;
}

.menu-btn {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: left;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 9px 10px;
    position: relative;
}

.menu-btn span {
    background-color: #90bcea;
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
}

.menu-btn span:not(:first-child) {
    margin-top: 4px
}

#main_title {
    float: left;
    color: #90bcea;
    font-weight: bold;
    font-size: 1em;
    margin-top: 15px;
    margin-left: 10px;
}

#logo {
    float: left;
    height: 51px;
    width: 422px;
    background-image: url(../images/SURE_logo.png);
    background-size: cover;
    margin-top: 5px;
    margin-left: -10px;
}

nav {
    display: none;
    background-color: #91c9ef;
    color: #000;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 50px;
    top: 80px;
    padding: 0;
    overflow: auto;
    z-index: 10;
    border-right: 0.1em solid #BFB9BD;
}

nav .container-fluid {
    padding: 0;
    width: 100%;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    
    -moz-user-select: none;
    /* Firefox all */
    
    -ms-user-select: none;
    /* IE 10+ */
    /* No support for these yet, use at own risk */
    
    -o-user-select: none;
    user-select: none;
}

nav ul {
    font-size: 1.11em;
    padding: 0;
    margin-bottom: 0;
    width: 94%;
    display: table;
    margin-left: 1em;
}

nav ul li {
    padding: 0.7em 0.7em;
    cursor: pointer;
    color: white;
    font-weight: bold;
    list-style-position: outside;
}

.moduleUL li {
    color: white;
}

.moduleUL li:before,
.pageUL li:before {
    content: "∟";
    color: #7b7b7b;
    display: block;
    float: left;
    margin-top: -0.35em;
    text-indent: -1em;
}

.pageUL li {
    display: block;
    color: #0066cc;
    font-weight: normal;
}

.pageUL li span {
    position: absolute;
}

.pageUL li a {
    margin-left: 16px;
    display: inline-block;
    width: 98%;
}


.pageUL li a:link {
    color: #0066cc;
}

.pageUL li a:visited {
    color: #551a8b;
}

.pageUL li a:hover {
    text-decoration: none;
}

.pageUL li,
.moduleUL li {
    padding: 0.2em 0.3em;
}

.pageUL li.selected a {
    color: white;
}

#side_menu h3 {
    background-color: #175183;
    color: white;
    font-size: inherit;
    font-weight: bold;
    margin: 0;
    padding: 1em 1.2em;
}

#footer {
    display: block;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    color: black;
    z-index: 12;
}

#footer div.container-fluid {
    padding: 0;
}

#footer .control_btn {
    margin-top: 2px;
}

.control_btn {
    position: relative;
    border: none;
    border-radius: 2px;
    float: left;
    margin: 0 5px;
    position: relative;
    font-size: 1.5em;
    color: #000;
    width: 41px;
    height: 46px;
    background-color: transparent;
    background-size: cover;
    text-align: center;
    cursor: pointer;
}

.control_btn i {
    margin: 0 auto;
    margin-top: 5px;
    font-weight: 500;
    background-position: top left;
}

.control_btn.disabled {
    pointer-events: none;
    background-position: top right;
}

#sitemap_btn {
    background-image: url(../images/sitemapBtn.png);
}

#playpause_btn {
    background-image: url(../images/playBtn.png);
}

#copyright {
    font-weight: bold;
    font-size: 0.85em;
    float: right;
    margin-top: 0.85em;
    margin-right: 5em;
}

#main_content {
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    overflow-y: scroll;
    /* has to be scroll, not auto */
    
    -webkit-overflow-scrolling: touch;
}

#main_content .container-fluid {
    padding: 0;
    text-align: center;
}

.preloader {
    position: relative;
    width: 220px;
    height: 19px;
    margin: 0 auto;
    top: calc(50% - 10px);
}

#topNav {
    float: right;
    padding-top: 0.5em;
}

#resources_btn {
    background-image: url(../images/resourcesBtn.png);
}

#previous_btn {
    background-image: url(../images/prevBtn.png);
}

#page_num {
    color: #0066cc;
    float: left;
    padding: 0.72em 0.6em;
}

#next_btn {
    background-image: url(../images/nextBtn.png);
}

#resources {
    display: none;
    background-color: #C2EEF4;
    color: #000;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 50px;
    top: 80px;
    padding: 1em;
    overflow: auto;
    z-index: 10;
    border-right: 0.1em solid #BFB9BD;
}

#resources div {
    background: white;
    width: 90%;
    box-shadow: 0px 0px 3px #000;
    padding: 1em;
}

#resources ul li {
    border-bottom: 1px solid #CCCCCC;
    padding: 0.5em;
    width: 90%;
    margin: 0 auto;
    font-size: 1.2em;
}
/* css for quiz element */

.quiz_panel {
    overflow: auto;
}

.qns_header {
    background-color: #D9D8D6;
    width: 100%;
    padding: 0.1em 0;
    font-size: 3.2em;
    font-weight: bold;
    color: #767676;
    border-bottom: 0.15em solid #BDBDBC;
}

.explanation_header {
    background-color: #214CA0;
    width: 100%;
    padding: 0.1em 0;
    font-size: 3.2em;
    font-weight: bold;
    color: #FFF;
    border-bottom: 0.15em solid #11419F;
}

.feedback {
    padding: 2em;
    background-color: #F2F0EE;
    font-size: 1.8em;
    text-align: left;
}

.feedback ul {
    list-style-type: disc;
    margin-left: 1.5em;
}

.quiz_instructions {
    background-color: #67CEC7;
    color: #FFFFFF;
    font-size: 1.3em;
    padding: 0.1em 0;
}

.qns_txt {
    width: 100%;
    font-size: 1.6em;
    background-color: #F2F0EE;
    padding: 1.6em 2em;
    text-align: center;
}

.inner_qns {
    margin: 0 auto;
    text-align: left;
    display: inline-block;
    letter-spacing: 0.01em;
}

.inner_qns a {
    white-space: pre-wrap;
    /* css-3 */
    
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    
    white-space: -pre-wrap;
    /* Opera 4-6 */
    
    white-space: -o-pre-wrap;
    /* Opera 7 */
    
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.inner_qns h3 {
    display: table;
    border-bottom: 2px solid black;
}

.inner_qns ol {
    list-style-position: outside;
    list-style-type: lower-roman;
    line-height: 200%;
    margin-left: 1.5em;
}

.inner_qns ol li {
    padding: 0.2em 0;
    line-height: 140%;
}

.options {
    padding: 0.7em 0 0.7em 0;
    margin: 0;
    font-size: 1.4em;
    text-align: center;
    color: #000;
    overflow: hidden;
}

.option {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.2em 1em;
    font-size: 1em;
    cursor: pointer;
    text-align: left;
}

.option span.option_underline {
		text-decoration: underline;	
	}
p span.option_underline {
		text-decoration: underline;	
	}

.bluetext{
	color:#0000FF;
}	

/*.option_radio {
		text-align: center;	
		padding: 0.5em 0.7em;
		width: 100%;
		height: 100%;
	}*/

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 85px;
    margin-right: 15px;
    width: 95%;
	font-weight:normal
}

input[type=radio] {
    display: none;
}

label:before {
    content: "\2022";
    color: #C3C6C3;
    font-size: 36px;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-left: 50px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 4px;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    background: #c3c6c3;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #fff 0%, #b5b2b5 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #b5b2b5));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #fff 0%, #b5b2b5 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #fff 0%, #b5b2b5 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #fff 0%, #b5b2b5 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #fff 0%, #b5b2b5 100%);
    /* W3C */
}

input[type=radio]:checked + label:before {
    color: #0000FF;
}

.incorrect {
    margin: 0;
    background-color: #F05855;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0.2em;
}

.correct {
    margin: 0;
    color: white;
    text-align: center;
    background-color: #5EA061;
    padding: 0.2em;
}

.quiz_btn {
    position: relative;
    display: block;
    background-color: #214CA0;
    border: none;
    padding: 0.4em 2em;
    font-size: 2em;
    color: #FFF;
    width: 84%;
    font-weight: bold;
    margin: 0 auto;
    margin-top: -1.2em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

#submitBtn {
    display: none;
    margin-top: 0;
    width: 50%;
    margin-bottom: 20px;
}

.spacer {
    height: 0.7em;
}

#retry_btn {
    margin-top: 0.5em;
}

/* for quiz images */
	.inner_qns p {
		width: 100%;	
	}
	.inner_qns img {
		display: block;
		background-color: white;
		margin: 0 auto;
		width: 100%;
		height: auto;
	}
	#SGInfopedia {
		max-width: 448px;
		max-height: 112px;
	}
	
	#HistorySG {
		max-width: 250px;
		max-height: 76px;
	}
	
	#PictureSG {
		max-width: 290px;
		max-height: 80px;
	}
	
	#NewspaperSG {
		max-width: 220px;
		max-height: 50px;
	}
	
	#N_A_O_SG {
		max-width: 250px;
		max-height: 100px;
	}

.panel-header {
    linear-gradient(to bottom, #B5B5B5 0px, #cccccc 80%);
}

.panel-title {
    font-size: 1em;
}

.panel-body {
    font-weight: normal;
}

div[class^="col"] {
    padding-left: 5px;
    padding-right: 5px;
}

.fa-stack {
    height: 1.3em;
    width: 1.3em;
    line-height: 1.3em;
}

.folder-close {
    display: none;
}

.completed {
    display: none;
}

.fa-folder,
.fa-folder-open {
    color: #ffd283;
}

.fa-file-text,
.fa-file {
    color: white;
}

.fa-check {
    color: #91d52b;
}

.fa-file-text-o,
.fa-file-o,
.fa-folder-o,
.fa-folder-open-o,
.fa-plus-square-o,
fa-minus-square-o {
    color: black;
}

.completion {
    text-align: center;
    margin-top: 20px;
   
}

.screenshot-container {
    position: relative;
}

#screenshot {
    position: relative;
}

.screenshot-link {
    display: block;
    position: relative;
    cursor: pointer;
}

@media all and (max-width: 767px) {
    #logo {
        float: left;
        height: 38px;
        width: 60px;
        background-image: url(../images/SURE_logo.png);
        background-size: cover;
        margin-top: 5px;
        margin-left: -10px;
    }
    #copyright {
        margin-top: 2em;
        margin-right: 1em;
        font-size: 0.55em;
    }
    header div.container-fluid {
        height: 45px;
        padding-right: 6px;
    }
    #topNav {
        float: right;
        padding-top: 0.2em;
    }
    .control_btn {
        width: 37.5px;
        height: 42px;
        margin: 0 2px;
    }
    nav {
        width: 100%;
        font-weight: none;
    }
    nav ul li {
        font-size: 0.84em;
    }
    #resources ul li {
        font-size: 0.84em;
    }
    .qns_header {
        font-size: 1.7em;
    }
    .explanation_header {
        font-size: 1.7em;
    }
    .qns_txt,
    .options,
    .feedback {
        font-size: 1.2em;
        line-height: 1.6em;
    }
    .quiz_instructions {
        font-size: 1.2em;
    }
    .quiz_btn {
        font-size: 1.3em;
        padding: 0.4em 2.2em;
        width: 92%;
    }
    .inner_qns {
        width: 94%;
    }
    /*Overwrite Ratebox*/
    
    .rateBox {
        border-right: none;
        border-bottom: 5px solid #FFF;
        height: auto;
    }
    .top {
        text-align: center;
        border-bottom: none;
        border-right: 5px solid #95A3B5;
        line-height: 3em;
    }
    .bottom {
        border-top: none;
        border-left: 5px solid #014B78;
    }
    .feedbackBoxes {
        padding: 1em 1em;
        padding-bottom: 1.5em;
    }
    label {
        padding-left: 70px;
    }
    label:before {
        margin-left: 35px;
        font-size: 36px;
    } 
}
/* for the links */

h1.links-header {
    background-color: #214D9F;
    width: 94%;
    color: #fff;
    font-weight: bold;
    margin: 15px auto;
    margin-bottom: 0;
    padding: 20px 10px;
    font-size: 28px;
}


.links-container {
    text-align: left;
    width: 90%;
    background-color: #fff;
    padding: 15px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 14px 0px -8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 14px 0px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 14px 0px -8px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    
}

.links-container p {
    background-color: #214D9F;
    color:  #fff;
    margin-bottom: 0;
    padding: 15px;
}

.links-container p b {
    color: #FFFF00;
}

.links-container b {
    color: #FFFF00;
}

ul.links-list {
    color: #fff;
    background-color: #214D9F;
    padding:  0 15px;
    list-style: square;
    margin-bottom: 0;
    padding-bottom: 10px;
}

ul.links-list li {
    margin-left: 15px;
    padding: 8px 0;
    font-weight: bold;
}


ul.links-list li a {
    color: #fff;
    text-decoration: none;
}


@media all and (min-width: 768px) {
    body {
        padding-top: 93px;
        padding-bottom: 50px;
    }
    header {
        height: 93px;
    }
    header div.container-fluid {
        height: 58px;
    }
    nav,
    #resources {
        top: 93px;
    }
    nav li {
        /*bottom: 0;*/
        
        font-size: 0.85em;
    }
    .qns_txt {
        font-size: 1.42em;
    }
    .options {
        font-size: 1.42em;
    }
	
}
/* ios7 safari landscape viewport bug hack @ http://stackoverflow.com/questions/19012135/ios-7-ipad-safari-landscape-innerheight-outerheight-layout-issue */

@media (orientation: landscape) {
    html.ipad.ios7 > body {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 672px !important;
    }
}

html.iOS label:before {
    line-height: 16px;
}