
 @media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {


.leftcontent1 {
	color: #000000;
	float: left;
	padding: 1% 0 0;
	text-align: left;
	width: 35%;
}


citation{
	font-size:12px;	
	color: #000000;
	float: left;
	padding: 0 0 0 0;
	text-align: left;
	margin: 0 0 0 0;
}




 video { width:65.5%; height:350px !important; }


.gridBig1, .gridBig {
    color: #000000;
    display: inline-block;
    height: 242px;
    margin: 0 1%;
    text-align: center;
    width: 250px;
	float:right;
	}
	
.gridSml {
   color: #000000;
    display: inline-block;
    height: 282px;
    margin: 0 1%;
    text-align: center;
    width: 280px;
	
	}	
	

/*video { width:90%; height:50%;}*/

.width60 { width:60%; float:left;}


#easyhtml5video { text-align:left;}





.simplelisting ul { margin:0 0 0 2%;}
.gridsquare {
    border: 1px solid #000000;
    display: inline-block;
    height: 110px;
    width: 512px;
	margin-top:1%;
}
.square {
	background-color:#FFFFFF;
	border-radius: 1px 1px 1px 1px;
	/*box-shadow: 0 0 0 0 rgba(200, 95, 66, 0.4) inset, 0 0 0 16px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.1);*/
	cursor: default;
	height: 100%;
	position: relative;
	width: 100%;
}
.ch-info1 {
	border-radius: 1px 1px 1px 1px;
	height: 100%;
	position: absolute;
	width: 100%;
}
.gridsquare2 {
    border: 1px solid #000000;
    display: inline-block;
    height: 289px;
	margin-top:1%;
    width: 457px;
}
.gridsquare {
    border: 1px solid #000000;
    display: inline-block;
    height: 110px;
    width: 512px;
	margin-top:1%;
}



}




@media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
.leftcontent { font-size:18px !important; }





h5{ font-size:20px !important; }

 video { width:65.5%; height:350px !important; }
 

.width60 { width:60%; float:left;}

.simplelisting ul { margin:0 0 0 2%;}


.gridBig1, .gridBig {
    color: #000000;
    display: inline-block;
    font-size: 20px;
    height: 302px;
    margin: 0 1%;
    text-align: center;
    width: 300px;
	float:right;
	}
	

.gridSml {
    color: #000000;
    display: inline-block;
    font-size: 20px;
    height: 282px;
    margin: 0 1%;
    text-align: center;
    width: 280px;
	
	}	
	


.floatleft { float:left;}

.floatright { float:right;}

.cn-container h3 { font-size:30px; margin:10px 0 5px 0;}

.playerwrapper {

	display:none;
	
}
.gridsquare {
    border: 1px solid #000000;
    display: inline-block;
    height: 110px;
    width: 512px;
	margin-top:1%;
}
.square {
	background-color:#FFFFFF;
	border-radius: 1px 1px 1px 1px;
	cursor: default;
	height: 100%;
	position: relative;
	width: 100%;
}
.ch-info1 {
	border-radius: 1px 1px 1px 1px;
	height: 100%;
	position: absolute;
	width: 100%;
}
.gridsquare2 {
    border: 1px solid #000000;
    display: inline-block;
    height: 289px;
    width: 457px;
	margin-top:1%;
}


}



@media screen and (device-aspect-ratio: 1280/720) {

video { width:65.5%; height:350px !important;  }

}



@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 


body { min-height:650px !important;}
video { width:74%; height:350px !important;}



}




 @media all and (max-width: 480px) {
 .cn-container h2 {
 font-size: 18px;
 line-height: 95px;
 text-align:center;
}
 nav {
margin: 0 auto;
width:277px;
}
 .cn-container h3 {
font-size:16px;
}
 footer p.floatL {
display: none;
}
 img {
 width:80%;
 height:auto;
 width: auto\9; /* ie8 */
 max-width:100%;
 margin: 0 3%;
}

 .grid {
display: inline-block;
 height: 280px;
 margin: 5px 0;
 width: 280px;
}
 .gridBig {
height: 300px;
 width: 300px;
}
 .width30 {
width:100%;
float:left;
text-align:left;
}

.leftcontent, .learningobject, .rw-words p, .anstxt { font-size:12px;}

.rw-words h5 { font-size:14px;}

.mrgnL { margin-left:27%;}
.gridsquare {
    border: 1px solid #000000;
    display: inline-block;
    height: 110px;
    width: 344px;
	margin-top:1%;
}
.square {
	background-color:#FFFFFF;
	border-radius: 1px 1px 1px 1px;
	/*box-shadow: 0 0 0 0 rgba(200, 95, 66, 0.4) inset, 0 0 0 16px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.1);*/
	cursor: default;
	height: 100%;
	position: relative;
	width: 100%;
}
.ch-info1 {
	border-radius: 1px 1px 1px 1px;
	height: 100%;
	position: absolute;
	width: 100%;
}
.gridsquare2 {
    border: 1px solid #000000;
    display: inline-block;
    height: 289px;
    width: 457px;
	margin-top:1%;
}
.ch-img-m4p2{
	background: #eee url(../images/mod4/m4_p2.png) no-repeat center center;
	background-size:100%;
}
.ch-img-m4p4{
	background: #eee url(../images/mod4/m4_p4.png) no-repeat center center;
	background-size:100%;
}
.ch-img-m4p9{
	background: #eee url(../images/mod4/m4_p9.png) no-repeat center center;
	background-size:100%;
	
}
.ch-img-m4p14{
	background: #eee url(../images/mod4/m4_p14.png) no-repeat center center;
	background-size:100%;
}
.ch-img-m4p13{
	background: #eee url(../images/mod4/m4_p13.png) no-repeat center center;
	background-size:100%;

}
.ch-img-m4p13a{
	background: #eee url(../images/mod4/m4_p13a.png) no-repeat center center;
	background-size:100%;
}
.ch-img-m4p13b{
	background: #eee url(../images/mod4/m4_p13b.png) no-repeat center center;
background-size:100%;

}
.ch-img-m4p13c{
	background: #eee url(../images/mod4/m4_p13c.png) no-repeat center center;
	background-size:100%;

}
.ch-img-m4p13d{
	background: #eee url(../images/mod4/m4_p13d.png) no-repeat center center;
	background-size:100%;

}
.ch-img-m4p5{
	background: #eee url(../images/mod4/m4_p5.png) no-repeat center center;
	background-size:100%;

}
.ch-img-m4p5a{
	background: #eee url(../images/mod4/m4_p5a.png) no-repeat center center;
	background-size:100%;
	

}
.ch-img-m4p6{
	background: #eee url(../images/mod4/m4_p6.png) no-repeat center center;
	background-size:100%;
	

}



}


