.ch-img-m4p2{
	background: #eee url(../images/mod4/m4_p2.png) no-repeat center center;
	background-size:100%;
}
.ch-img-m4p4{
	background: #eee url(../images/mod4/m4_p4.png) no-repeat center center;
	background-size:100%;
}
.ch-img-m4p9{
	background: #eee url(../images/mod4/m4_p9.png) no-repeat center center;
	background-size:100%;
	
}
.ch-img-m4p14{
	background: #eee url(../images/mod4/m4_p14.png) no-repeat center center;
	background-size:100%;
}
.ch-img-m4p13{
	background: #eee url(../images/mod4/m4_p13.png) no-repeat center center;

}
.ch-img-m4p13a{
	background: #eee url(../images/mod4/m4_p13a.png) no-repeat center center;

}
.ch-img-m4p13b{
	background: #eee url(../images/mod4/m4_p13b.png) no-repeat center center;

}
.ch-img-m4p13c{
	background: #eee url(../images/mod4/m4_p13c.png) no-repeat center center;

}
.ch-img-m4p13d{
	background: #eee url(../images/mod4/m4_p13d.png) no-repeat center center;

}
.ch-img-m4p5{
	background: #eee url(../images/mod4/m4_p5.png) no-repeat center center;
	background-size:100%;

}
.ch-img-m4p5a{
	background: #eee url(../images/mod4/m4_p5a.png) no-repeat center center;
	background-size:100%;
	

}
.ch-img-m4p6{
	background: #eee url(../images/mod4/m4_p6.png) no-repeat center center;
	

}
.ch-img-m4p11{
	background: #eee url(../images/mod4/m4_p11.png) no-repeat center center;
	background-size:100%;
	

}
















	





