.ch-img-m1p2 {
	background: #eee url(../images/mod1/m1_p2.png) no-repeat center center;
	background-size:100%;
}
.ch-img-m1p2p2 {
	background: #eee url(../images/m1_p2a.png) no-repeat center center;
}
.ch-img-m1p2a {
	background: #eee url(../images/puzzle.png) no-repeat center center;
	background-size:100%;
}
.ch-img-m1p7 {
	background: #eee url(../images/mod1/m1_p7.png) no-repeat center center;
	background-size:100%;
}
.ch-img-m1p7a {
	background: #eee url(../images/mod1/m1_p7a.png) no-repeat center center;
	background-size:100%;
}
.ch-img-m1p7b {
	background: #eee url(../images/mod1/m1_p7b.png) no-repeat center center;
	background-size:100%;
}
.ch-img-m1p7c {
	background: #eee url(../images/mod1/m1_p7c.png) no-repeat center center;
	background-size:100%;
}
.ch-img-m1p10 {
	background: #eee url(../images/mod1/m1_p10.png) no-repeat center center;
	background-size:100%;
}
.ch-img-m1p9f {
	background: #eee url(../images/mod1/m1_p9f.png) no-repeat center center;
}
.ch-img-m1p9g {
	background: #eee url(../images/mod1/m1_p9g.png) no-repeat center center;
}
.ch-img-m1p9h {
	background: #eee url(../images/mod1/m1_p9h.png) no-repeat center center;
}
.ch-img-m1p9i {
	background: #eee url(../images/mod1/m1_p9i.png) no-repeat center center;
}
.ch-img-m1p9j {
	background: #eee url(../images/mod1/m1_p9j.png) no-repeat center center;
}
.ch-img-m1p9a {
	background: #eee url(../images/mod1/m1_p9a.png) no-repeat center center;
}
.ch-img-m1p9b {
	background: #eee url(../images/mod1/m1_p9b.png) no-repeat center center;
}
.ch-img-m1p9c {
	background: #eee url(../images/mod1/m1_p9c.png) no-repeat center center;
}
.ch-img-m1p9d {
	background: #eee url(../images/mod1/m1_p9d.png) no-repeat center center;
}
.ch-img-m1p9e {
	background: #eee url(../images/mod1/m1_p9e.png) no-repeat center center;
}
.ch-img-m1p9e {
	background: #eee url(../images/mod1/m1_p9e.png) no-repeat center center;
}
.ch-img-m1p13d {
	background:url(../images/mod1/m1_p13d.png) no-repeat center center;
}
.ch-img-m1p13e {
	background:url(../images/mod1/m1_p13e.png) no-repeat center center;
}
.ch-img-m1p13f {
	background:url(../images/mod1/m1_p13f.png) no-repeat center center;
}
.ch-img-m1p13g {
	background:url(../images/mod1/m1_p13g.png) no-repeat center center;
}
.ch-img-m1p13h {
	background:url(../images/mod1/m1_p13h.png) no-repeat center center;
}
.ch-img-m1p13i {
	background:url(../images/mod1/m1_p13i.png) no-repeat center center;
}
.ch-img-m1p13j {
	background:url(../images/mod1/m1_p13j.png) no-repeat center center;
}
.ch-img-m1p13k {
	background:url(../images/mod1/m1_p13k.png) no-repeat center center;
}
