




.ch-img-m3p1{
	background: #eee url(../images/mod3/m3_p1.png) no-repeat center center;
	
}
.ch-img-m1p1{
	background: #eee url(../images/mod1/m1_p1.png) no-repeat center center;
	
}
.ch-img-m1p5{
	background: #eee url(../images/mod1/m1_p5.png) no-repeat center center;
	
}
.ch-img-m1p7{
	background: #eee url(../images/mod1/m1_p7.png) no-repeat center center;
	
}
.ch-img-m1p8{
	background: #eee url(../images/mod1/m1_p8.png) no-repeat center center;
	background-size:400px;
	
}
.ch-img-m1p11{
	background: #eee url(../images/mod1/m1_p11.png) no-repeat center center;
	background-size:400px;
	
}
.ch-img-m1p12{
	background: #eee url(../images/mod1/m1_p12.png) no-repeat center center;
	background-size:400px;
	
}
.ch-img-m1p10{
	background: #eee url(../images/mod1/m1_p10.png) no-repeat center center;
	background-size:340px;
	
	
}
.ch-img-m1p13{
	background: #eee url(../images/mod1/m1_p13.png) no-repeat center center;
	background-size:340px;
	
	
}
.ch-img-m1p4{
	background: #eee url(../images/mod1/old.png) no-repeat center center;
	background-size:340px;
	
	
}




