/*====VIDEO CONTROLS=======*/
.control-holder{
    width:100%;
    height:50px;
    position:absolute;
    left:0px;
    bottom:0px;
    padding:0px;
    margin:0px;
    background-color: rgba(0,0,0,.5);
}
#play-button{
    position: absolute;
    top:5px;
    left:5px;
    width:40px;
    height:40px;
    background-image: url(../images/play-btn.png);
    background-size: 40px 40px;
}
#pause-button{
    position: absolute;
    top:5px;
    left:5px;
    width:40px;
    height:40px;
    background-image: url(../images/pause-btn.png);
    background-size: 40px 40px;
    display: none;
}
.prog-class{
    position: absolute;
    left:50px;
    width:90%;
}

#prog-bar-wrapper{
    top:20px;
    height:10px;
    background-color: black;
    border:1px solid rgba(255,255,255,.75);
    border-radius: 10px;
}
#prog-trigger{
    top:0px;
    height:100%;
    /*background-color: rgba(0,255,0,.5);*/
}

#prog-bar{
    width:15px;
    height:100%;
    position: absolute;
    left:0px;
    top:0px;
    background-color: white;
    border-radius: 10px;
}

#prog-scrub{
    width:30px;
    height:16px;
    position: absolute;
    left: 50px;
    margin-top: -9px;
    top:50%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}


//====LOADING=====
body{
    
}
.loading-bar{
    position:absolute !important;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index: 999;
    background-color: rgba(255,255,255,1) !important;
    display:none;
    background-image: url(../images/bg-loading.gif);
    background-repeat: no-repeat;
    background-position: center;
}