




.ch-img-m3p1
{
	background: #eee url(../images/mod1/m3_p1.png) no-repeat center center;
	
}
.ch-img-m3pa1{
	background: #eee url(../images/mod1/m3_pa1.png) no-repeat center center;
	background-size:343px;
	
}

.ch-img-m3pb1{
	background: #eee url(../images/mod1/m3_pb1.png) no-repeat center center;
	background-size:343px;
	
}
.ch-img-m3p3{
	background: #eee url(../images/mod1/m3_p3.png) no-repeat center center;
	
}
.ch-img-m3p5{
	background: #eee url(../images/mod1/m3_p5.png) no-repeat center center;
	background-size:343px;
	
}
.ch-img-m3p6{
	background: #eee url(../images/mod1/m3_p6.png) no-repeat center center;
	background-size:350px;
	
}
.ch-img-m3p3a{
	background: #eee url(../images/mod1/m3_p3a.png) no-repeat center center;

	
}
.ch-img-m3p4a{
	background: #eee url(../images/mod1/m3_p4a.png) no-repeat center center;
background-size: 100%;
	
}
.ch-img-m3p4b{
	background: #eee url(../images/mod1/m3_p4b.png) no-repeat center center;

	
}

