.ch-img-m4p1{
	background: #eee url(../images/mod4/m4_p1.png) no-repeat center center;
}

.ch-img-m4p2{
	background: #eee url(../images/mod4/m4_p2.png) no-repeat center center;
}

.ch-img-m4p9{
	background: #eee url(../images/mod4/m4_p9.png) no-repeat center center;
}


.ch-img-m3p1{
	background: #eee url(../images/mod3/m3_p1.png) no-repeat center center;
}

.ch-img-m3p6{
	background: #eee url(../images/mod3/m3_p6.png) no-repeat center center;
}
.ch-img-m3p6a{
	background: #eee url(../images/mod3/m3_p6_a.png) no-repeat center center; width:672px; height:273px;
	border: 1px solid #000000;
	
}
.ch-img-m3p6b{
	background: #eee url(../images/mod3/m3_p6_b.png) no-repeat center center;
	background-size:95;
}

.ch-img-m3p6c{
	background: #eee url(../images/mod3/m3_p6_c.png) no-repeat center center;
	background-size:95;
}

.ch-img-m3p6d{
	background: #eee url(../images/mod3/m3_p6_d.png) no-repeat center center;
	background-size:95;
}
