/************************************
	General Reset
	************************************/
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width:100%;
}
body {
	-webkit-text-size-adjust:none;
	font:14px/1.4 Arial, sans-serif;
	background: #c2edf4;
	color:#000;
	margin:0;
}
h1, h2, h3 {
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
	/*transition: all 0.6s ease-in-out 0.2s;*/
}
h1, h2 {
	font-size:34px;
	text-align: left;
	margin:0;
	color:#000;
	line-height:25px;
	float:left;
}
h3 {
	color:#003376;
	float:right;
	padding:8px 0 0 0;
	font-size:24px;
	margin:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color:#318FC5;
	outline:none;
	/*text-decoration:none;*/
}
a:hover {
	text-decoration:none;
}
fieldset, img {
	border:none;
}
img {
	line-height:0;
}
button, input, select, textarea, form, fieldset {
	margin:0;
	padding:0;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
ul, p {
	padding:0;
	margin:0;	
}

p{ margin-bottom:0.5%;}

.floatL {
	float:left;
}
.floatR {
	float:right;
}

/*#easyhtml5video { height:63%;}*/

/*******************
	General Styles
	*******************/
.container { }

.cn-container {
	height: 100%;
	margin: 0 auto;
	width: 98%;
}
.cn-container h3 {
	font-family: Arial, Helvetica, sans-serif;
	color: #003376;
	z-index: 10000;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 1px 1px 1px rgba(0, 0, 0, 0.2);
	font-size: 24px;
	line-height:40px;
	display:block;
	float:none;
	text-align:left;
}
.cn-slide {
	text-align: left;
	position: absolute;
	left: 0;
	margin: 0 1%;
	width:98%;
	height:100%;
}

.simplelisting {
	margin:0 0 0 25px;
}


.simplelisting li {
	list-style:disc;
	margin:0.5% 0; 
}

h5 {
	color:#0066cc;
	font-size:16px;
	font-weight:normal;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 1px 1px 1px rgba(0, 0, 0, 0.2);
	margin:0 0 0 0;
}
/*.rw-words-2 div.grid, .rw-words-2 div.grid200, .rw-words-2 div.grid300, .rw-words-2 div.grid400, .rw-words-2 div.leftcontent, .rw-words-2 div.gridsquare{
	-webkit-animation: rotateWordsFirst 2s linear 0s;
	-moz-animation: rotateWordsFirst 2s linear 0s;
	-o-animation: rotateWordsFirst 2s linear 0s;
	-ms-animation: rotateWordsFirst 2s linear 0s;
	animation: rotateWordsFirst 2s linear 0s;
}
*/



 @-webkit-keyframes rotateWordsFirst {
 0% {
opacity: 0;
-webkit-animation-timing-function: ease-out;
height: 0px;
}
 25% {
opacity: 0.1;
height: 60px;
}
 50% {
opacity: 0.3;
height: 60px;
}
 75% {
opacity: 0.5;
height: 60px;
}
 100% {
opacity: 1;
}
}
 
 
 
 @-moz-keyframes rotateWordsFirst {
 0% {
opacity: 0;
-moz-animation-timing-function: ease-out;
height: 0px;
}
 25% {
opacity: 0.1;
height: 60px;
}
 50% {
opacity: 0.3;
height: 60px;
}
 75% {
opacity: 0.5;
height: 60px;
}
 100% {
opacity: 1;
}
}



 @-o-keyframes rotateWordsFirst {
 0% {
opacity: 1;
-o-animation-timing-function: ease-out;
height: 0px;
}
 25% {
opacity: 0.1;
height: 60px;
}
 50% {
opacity: 0.3;
height: 60px;
}
 75% {
opacity: 0.5;
height: 60px;
}
 100% {
opacity: 1;
}
}
 
 
 
 @-ms-keyframes rotateWordsFirst {
 0% {
opacity: 1;
-ms-animation-timing-function: ease-out;
height: 0px;
}
 25% {
opacity: 0.1;
height: 60px;
}
 50% {
opacity: 0.3;
height: 60px;
}
 75% {
opacity: 0.5;
height: 60px;
}
 100% {
opacity: 1;
}
}



input[type=text] {
	border: 5px solid white;
	-webkit-box-shadow: 
 inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 
 inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	box-shadow: 
 inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	padding: 1%;
	background: rgba(255, 255, 255, 0.5);
	margin: 0 0 10px 0;
	border-radius:5px;
	width:93%;
}
.red {
	color:#ff0000;
}
.pdngTB1 {
	padding:1% 0;
}
.grid {
	display: inline-block;
	height: 320px;
	margin: 0px 0px;
	width: 320px;
}


.grid200 {
	display: inline-block;
	height: 200px;
	margin: 0% 1%;
	width: 200px;
	text-align:center;
	color:#000;
	font-size:14px;
}

.grid200 p {
	padding:2% 0 0 0;
}
.grid200 p a {
	text-decoration:none;
	color:#000;
}

.grid300 {
	display: inline-block;
	height: 300px;
	margin: 0% 1%;
	width: 300px;
	text-align:center;
	color:#000;
	font-size:14px;
}

.grid300 p {
	padding:2% 0 0 0;
}
.grid300 p a {
	text-decoration:none;
	color:#000;
}

.grid400 {
	display: inline-block;
	height: 400px;
	margin: 0% 1%;
	width: 400px;
	text-align:center;
	color:#000;
	font-size:14px;
}

.grid400 p {
	padding:2% 0 0 0;
}
.grid400 p a {
	text-decoration:none;
	color:#000;
}





.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
 inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
}











button {
	width:80px;
	height:30px;
	padding:0;
	background:#ffd65e;
	border: 1px solid #ffc92b;
	color:#fff;
	cursor:pointer;
	margin:15px 0 0 0;
	font-weight:bold;
}
button[disabled] {
	margin:15px 0 0 0;
	background:#ccc;
	border:1px solid #ddd;
	font-weight:bold;
}
FORM {
	padding: 0 0 0 1%;
}
FORM p {
	margin:1% 0;
}
.playerwrapper {
	clear:both;
	position: absolute !important;
	bottom:0px;
	left:20px;
	z-index:99999;
	visibility:hidden;
}
.msg {
	opacity:1;
	background-color:#0066cc;
	height:20px;
	color:#fff;
	border-radius:5px;
	position:absolute;
	z-index:9999;
	right:0;
	padding:0 5px;
	bottom: 3px;
	text-align:center;
	-ms-filter:"progid:DXImageTransform.Microsoft. Alpha(Opacity=0)";
}
.msg a {
	color:#fff;
	text-decoration:none;
}
.anstxt {
	border: 2px solid #B0977E;
	border-radius: 10px;
	padding:8px;
	margin:1% 0 0 0;
	background:#fff;
	width:90%;
}
.bdrrdus {
	border-radius: 25px;
}
.zotano {
	background:url(../images/zotano-txt.png) no-repeat left top;
	width:50px;
	height:44px;
	position:absolute;
	top:44%;
	left:33%;
	z-index:999;
}
a.zotano:hover {
	background-position: left bottom;
}
.width30 {
	width:30%;
	float:left;
}
.width60 {
	width:65%;
	float:left;
}
.leftcontent {
	color: #000000;
	float: left;
	font-size: 14px;
	padding: 0 0 0 0;
	text-align: left;
	width:60%;
	margin-right:1%;
}
.learningobject {
	background: #fefefe url(../images/pat.jpg) repeat-x left bottom;
	border: 4px solid #B0977E;
	border-radius: 10px;
	color: #000000;
	font-size: 15px;
	font-weight: normal;
	padding-top: 5px;
	text-align: center;
	padding:10px 25px;
	text-decoration:none;
	display:block;
	float:left;

}

.learningobject-grey {
/*	background: #fefefe url(../images/pat.jpg) repeat-x left bottom;*/
	border: 4px solid #666666;
	background:#666 repeat-x left bottom;
	border-radius: 10px;
	color: #ffffff;
	font-size: 15px;
	font-weight: normal;
	padding-top: 5px;
	text-align: center;
	padding:10px 25px;
	text-decoration:none;
	display:block;
	float:left;

}



.mrgnT2 {
    margin-top: 5%;
}

.mrgnL { margin-left:27%;}


.simplelisting2 {
	margin:0 0 0 5%;
	overflow:visible !important;
}

.simplelisting2 li { display:block !important; width:100%;}



.simplelisting3{
margin:62px 0 0 5%;
	overflow:visible !important;}
	
.topmargin10{
	margin-top:1%;
}




.width80 {
	width:80%;
	float:left;
}

.gridsquare {
	display: inline-block;
	height: 336px;
	 border: 1px solid #000000;
	width: 500px;
}
.square {
	background-color:#FFFFFF;
	border-radius: 1px 1px 1px 1px;
	box-shadow: 0 0 0 0 rgba(200, 95, 66, 0.4) inset, 0 0 0 12px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
	cursor: default;
	height: 100%;
	position: relative;
	width: 100%;
}
.ch-info1 {
	border-radius: 1px 1px 1px 1px;
	height: 100%;
	position: absolute;
	width: 100%;
}
.innner6 {
    background: none repeat scroll 0 0 #FF3333;
    border: 2px solid #FFCC00;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
}
.p3 {
    bottom: 28px;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 17px;
    text-align: justify;
}

.p3 a {
    color: #FFCC00;
    text-decoration: none;
}


h3 span {
    color: #FF0000;
    float: right;
    font-size: 12px;
    font-style: italic;
}
.mrT10{
	margin-top:10px;
}

/*.video { width:50%; height:85%;}*/