
 @media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

video { width:74%; height:350px !important; }

.gridsquare {
    border: 1px solid #000000;
    display: inline-block;
    height: 215px;
    width: 330px;
	margin-top: 1%;
}

.ch-img-1, .ch-img-2, .ch-img-3, .ch-img-4, .ch-img-5, .ch-img-6 
{
background-size:100%;
}



@media screen and (device-aspect-ratio: 1280/720) {
video { width:74%; height:350px  }
}








}

@media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

video { width:74%; height:350px !important; }

.cn-slide, .leftcontent  { font-size:18px !important}

.gridsquare {
    border: 1px solid #000000;
    display: inline-block;
    height: 215px;
    width: 330px;
	margin-top: 1%;
}

.ch-img-1, .ch-img-2, .ch-img-3, .ch-img-4, .ch-img-5, .ch-img-6 
{
background-size:100%;
}

}









 @media all and (max-width: 480px) {
 .cn-container h2 {
 font-size: 18px;
 line-height: 95px;
 text-align:center;
}
 nav {
margin: 0 auto;
width:277px;
}
 .cn-container h3 {
font-size:16px;
}
 footer p.floatL {
display: none;
}
 img {
 width:80%;
 height:auto;
 width: auto\9; /* ie8 */
 max-width:100%;
 margin: 0 3%;
}

 .grid {
display: inline-block;
 height: 280px;
 margin: 5px 0;
 width: 280px;
}
 .gridBig {
height: 300px;
 width: 300px;
}
 .width30 {
width:100%;
float:left;
text-align:left;
}

.leftcontent, .learningobject, .rw-words p, .anstxt { font-size:12px;}

.rw-words h5 { font-size:14px;}

.mrgnL { margin-left:27%;}


.ch-item { width:85%; height:85%}


.bg-img p { width:90%; }

.bg-papper{
  height: 35px;   
    right: 22%;  
    top: 76%;
    width: 31px;
	}
	
#info {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50% 50% 50% 50%;
    bottom: 0px;
    height: 40px;
    padding: 5px;
    position: absolute;
    right: 25px;
    width: 40px;
}


.rightbtnbox { float:left; margin:2% 0 0 0; width:80%;}

.gridsquare {
    border: 1px solid #000000;
    display: inline-block;
    height: 210px;
    width: 250px;
	margin-top: 1%;
}
.ch-img-1, .ch-img-2, .ch-img-3, .ch-img-4, .ch-img-5, .ch-img-6 
{
background-size:100%;
}




}



@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 


body { min-height:650px !important;}
video { width:74%; height:350px !important; }



}
