.m2_p1 {
	background:url(../images/mod1/m2_p1.png) no-repeat center center;
}
.m2_p3 {
	background:url(../images/mod1/m2_p3.png) no-repeat center center;
	background-size:95%;
}
.m2_p8 {
	background:url(../images/mod1/m2_p8.png) no-repeat center center;
}
.m2_p9 {
	background:url(../images/mod1/m2_p9.png) no-repeat center center;
}