
/************************************
	General Reset
	************************************/
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width:100%;
}
body {
	-webkit-text-size-adjust:none;
	font:14px/1.4 Arial, sans-serif;
	background: #c2edf4;
	color:#000;
	margin:0;
	min-height:550px;
}
h1, h2, h3 {
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;


}
/*h1, h2 {
	font-size:34px;
	text-align: left;
	margin:0;
	color:#000;
	line-height:25px;
	float:left;
}
h3 {
	color:#003376;
	float:right;
	padding:8px 0 0 0;
	font-size:24px;
	margin:0;
}*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color:#318FC5;
	outline:none;
}
a:hover {
	text-decoration:none;
}
fieldset, img {
	border:none;
}
img {
	line-height:0;
}
button, input, select, textarea, form, fieldset {
	margin:0;
	padding:0;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
ul, p {
	padding:0;
	margin:0;
}

ul li { list-style:disc}
.floatL {
	float:left;
}
.floatR {
	float:right;
}
.listing {margin-left:25px;}
/*******************
	General Styles
	*******************/
.container { padding-bottom:30px; margin-bottom:60px;}

.cn-container {
	height: 100%;
	margin: 0 auto;
	width: 98%;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	color: #003376;
	z-index: 10000;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 1px 1px 1px rgba(0, 0, 0, 0.2);
	font-size: 24px;
	line-height:40px;
	display:block;
	padding:8px 0 0 0;
	margin:0;
	text-align:left;	
}
.cn-slide {
	text-align: left;
	position: absolute;
	left: 0;
	margin: 0 1%;	
	width:98%;
	height:100%;
}

.simplelisting {
	margin-left:25px;
}

.simplelisting li {
	list-style:disc;
	margin:8px 0; 
}
h5 {
	color:#0066cc;
	font-size:16px;
	font-weight:normal;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 1px 1px 1px rgba(0, 0, 0, 0.2);
	margin:0 0 0 0;
}
/*.rw-words-2 div.grid, .rw-words-2 div.gridsml, .rw-words-2 div.gridBig, .rw-words-2 div.gridmdm{
	-webkit-animation: rotateWordsFirst 2s linear 0s;
	-moz-animation: rotateWordsFirst 2s linear 0s;
	-o-animation: rotateWordsFirst 2s linear 0s;
	-ms-animation: rotateWordsFirst 2s linear 0s;
	animation: rotateWordsFirst 2s linear 0s;
}
*/


 @-webkit-keyframes rotateWordsFirst {
 0% {
opacity: 0;
-webkit-animation-timing-function: ease-out;
height: 0px;
}
 25% {
opacity: 0.1;
height: 60px;
}
 50% {
opacity: 0.3;
height: 60px;
}
 75% {
opacity: 0.5;
height: 60px;
}
 100% {
opacity: 1;
}
}
 
 
 
 @-moz-keyframes rotateWordsFirst {
 0% {
opacity: 0;
-moz-animation-timing-function: ease-out;
height: 0px;
}
 25% {
opacity: 0.1;
height: 60px;
}
 50% {
opacity: 0.3;
height: 60px;
}
 75% {
opacity: 0.5;
height: 60px;
}
 100% {
opacity: 1;
}
}



/* @-o-keyframes rotateWordsFirst {
 0% {
opacity: 1;
-o-animation-timing-function: ease-out;
height: 0px;
}
 25% {
opacity: 0.1;
height: 60px;
}
 50% {
opacity: 0.3;
height: 60px;
}
 75% {
opacity: 0.5;
height: 60px;
}
 100% {
opacity: 1;
}
}
 
 
 
 @-ms-keyframes rotateWordsFirst {
 0% {
opacity: 1;
-ms-animation-timing-function: ease-out;
height: 0px;
}
 25% {
opacity: 0.1;
height: 60px;
}
 50% {
opacity: 0.3;
height: 60px;
}
 75% {
opacity: 0.5;
height: 60px;
}
 100% {
opacity: 1;
}
}

*/

input[type=text] {
	border: 5px solid white;
	-webkit-box-shadow: 
 inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 
 inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	box-shadow: 
 inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	padding: 1%;
	background: rgba(255, 255, 255, 0.5);
	margin: 0 0 10px 0;
	border-radius:5px;
	width:93%;
}
.red {
	color:#ff0000;
}
.pdngTB1 {
	padding:1% 0;
}
.grid {
	display: inline-block;
	height: 320px;
	margin: 0px 0px;
	width: 320px;
}


.gridSml {
	width: 200px;
	height:auto;
	display: inline-block;
	margin: 1% 1%;
	text-align:center;
	color:#000;
	font-size:14px;
}

.gridSml p {
	padding:2% 0 0 0;
}
.gridSml p a {
	text-decoration:none;
	color:#000;
}




.gridBig {
	display: inline-block;
	height: 420px;
	width: 420px;
	text-align:center;
	color:#000;
	font-size:20px;
	margin: 0% 1%;
	
}


.gridmdm {
	display: inline-block;
	height: 320px;
	width: 320px;
	color:#000;
	margin: 0% 1%;
	
}

.gridBig p {
	padding:2% 0 0 0;
}
.gridBig p a {
	text-decoration:none;
	color:#000;
}



.gridBig1 {
	display: inline-block;
	height: 420px;
	width: 420px;
	text-align:center;
	color:#000;
	font-size:20px;
	margin: 0% 30%;
}

.gridBig1 p {
	padding:2% 0 0 0;
}
.gridBig1 p a {
	text-decoration:none;
	color:#000;
}



.ch-info {
	position: absolute;
	height: 100%;
	border-radius: 50%;
}
.ch-item {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
 inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
}




.ch-item1 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
 inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.gridSml div { width:200px;}





.bottomSpace{background:#FF0000; width:5px; height:50px; position:absolute; bottom:-150px;}


.bodyTop{width:70%; margin-right:20px;}


button {
	width:80px;
	height:30px;
	padding:0;
	background:#ffd65e;
	border: 1px solid #ffc92b;
	color:#fff;
	cursor:pointer;
	margin:15px 0 0 0;
	font-weight:bold;
}
button[disabled] {
	margin:15px 0 0 0;
	background:#ccc;
	border:1px solid #ddd;
	font-weight:bold;
}
FORM {
	padding: 0 0 0 1%;
}
FORM p {
	margin:8px 0;
}
.playerwrapper {
	clear:both;
	position: absolute !important;
	bottom:0px;
	left:20px;
	z-index:99999;
	display:none;
}
.msg {
	opacity:1;
	background-color:#0066cc;
	height:20px;
	color:#fff;
	border-radius:5px;
	position:absolute;
	z-index:9999;
	right:0;
	padding:0 5px;
	bottom: 3px;
	text-align:center;
	-ms-filter:"progid:DXImageTransform.Microsoft. Alpha(Opacity=0)";
}
.msg a {
	color:#fff;
	text-decoration:none;
}
.anstxt {
	border: 2px solid #B0977E;
	border-radius: 10px;
	padding:8px;
	margin:1% 0 0 0;
	background:#fff;
	width:90%;
}
.bdrrdus {
	border-radius: 25px;
}
.zotano {
	background:url(../images/zotano-txt.png) no-repeat left top;
	width:50px;
	height:44px;
	position:absolute;
	top:44%;
	left:33%;
	z-index:999;
}
a.zotano:hover {
	background-position: left bottom;
}
.width30 {
	width:30%;
	float:left;
}
.width60 {
	width:65%;
	float:left;
}
.leftcontent {
	color: #000000;
	float: left;
	font-size: 14px;
	padding: 0 0 0 0;
	text-align: left;
	width:60%;
	margin-right:1%;
}
.learningobject {
	background: #fefefe url(../images/pat.jpg) repeat-x left bottom;
	border: 4px solid #B0977E;
	border-radius: 10px;
	color: #000000;
	font-size: 15px;
	font-weight: normal;
	padding-top: 5px;
	text-align: center;
	padding:10px 25px;
	text-decoration:none;
	display:block;
	float:left;

}

.learningobject-grey {
/*	background: #fefefe url(../images/pat.jpg) repeat-x left bottom;*/
	border: 4px solid #666666;
	background:#666 repeat-x left bottom;
	border-radius: 10px;
	color: #ffffff;
	font-size: 15px;
	font-weight: normal;
	padding-top: 5px;
	text-align: center;
	padding:10px 25px;
	text-decoration:none;
	display:block;
	float:left;
	margin:10px 0 0 0;

}

.ch-img-1 {
	background: #eee url(../images/rahul.png) no-repeat center center;
}
.ch-img-2 {
	background: #eee url(../images/tan.png) no-repeat center center;
}
.ch-img-3 {
	background: #eee url(../images/media-role.jpg) no-repeat center center;
}
.ch-img-4 {
	background: #eee url(../images/media-influ.jpg) no-repeat center center;
}
.ch-img-5 {
	background: #eee url(../images/info-img.png) no-repeat center center;
}
.ch-img-6 {
	background: #eee url(../images/man-comp.png) no-repeat center center;
}
.ch-img-7 {
	background: #eee url(../images/tbl-of.png) no-repeat center center;
}

.ch-img-p7a {
	background: #eee url(../images/clear-img.png) no-repeat center center;
	width:800px;
	height:403px;
	background-size:95%;
}
.ch-img-p7b {
	background: #eee url(../images/structured-img.png) no-repeat center center;
	width:678px;
	height:403px;
	background-size:80%;
}
.ch-img-p7c {
	background: #eee url(../images/factual-img.png) no-repeat center center;
	width:787px;
	height:403px;
	background-size:93%;
}
.ch-img-p8a {
	background: #eee url(../images/question-1-img.png) no-repeat center  right;
	width:420px;
	height:370px;
	background-size:95%;
}

.ch-img-p8a1 {
	background: #eee url(../images/question-1-imga.png) no-repeat center  right;
	width:420px;
	height:370px;
	background-size:95%;
}




.ch-img-p8b {
	background: #eee url(../images/question-2-img.png) no-repeat center  right;
	width:420px;
	height:370px;
	background-size:95%;
}


.ch-img-p8b1 {
	background: #eee url(../images/question-2-imga.png) no-repeat center  right;
	width:420px;
	height:370px;
	background-size:95%;
}



.ch-img-p8c {
	background: #eee url(../images/question-3-img.png) no-repeat center  right;
	width:420px;
	height:370px;
	background-size:95%;
}

.ch-img-p8c1 {
	background: #eee url(../images/question-3-imga.png) no-repeat center  right;
	width:420px;
	height:370px;
	background-size:95%;
}





.ch-img-8 {
	background: #f1de96 url(../images/report.png) no-repeat center center; background-size:73%;
}

.ch-img-summry {background: url(../images/tbl-of.png) no-repeat center center; width:500px;	height:303px; background-size:100%;}

/*.ch-img-p10a {background: url(../images/step1-img.png) no-repeat center center; width:419px; height:322px; background-size:100%;}
.ch-img-p10b {background: url(../images/step2-img.png) no-repeat center center; width:419px; height:322px; background-size:100%;}
.ch-img-p10c {background: url(../images/step3-img.png) no-repeat center center; width:419px; height:334px; background-size:100%;}*/


.tabs img {  width:40%;
 height:auto;


}


img#clearimg  { width:90% !important; }	

img#clearimg2  { width:75% !important; }	


button {
	width:80px;
	height:30px;
	padding:0;
	background:#ffd65e;
	border: 1px solid #ffc92b;
	color:#fff;
	cursor:pointer;
	margin:15px 0 0 0;
	font-weight:bold;
}
button[disabled] {
	margin:15px 0 0 0;
	background:#ccc;
	border:1px solid #ddd;
	font-weight:bold;
}

.playerwrapper {
	clear:both;
	position: absolute !important;
	bottom:0px;
	left:20px;
	z-index:99999;
	display:none;

}
.msg {
	opacity:1;
	background-color:#0066cc;
	height:20px;
	color:#fff;
	border-radius:5px;
	position:absolute;
	z-index:9999;
	right:0;
	padding:0 5px;
	bottom: 3px;
	text-align:center;
	-ms-filter:"progid:DXImageTransform.Microsoft. Alpha(Opacity=0)";
}
.msg a {
	color:#fff;
	text-decoration:none;
}
.anstxt {
	border: 2px solid #B0977E;
	border-radius: 10px;
	padding:8px;
	margin:1% 0 0 0;
	background:#fff;
}
.bdrrdus {
	border-radius: 25px;
}
.zotano {
	background:url(../images/zotano-txt.png) no-repeat left top;
	width:50px;
	height:44px;
	position:absolute;
	top:44%;
	left:33%;
	z-index:999;
}
a.zotano:hover {
	background-position: left bottom;
}
.width30 {
	width:30%;
	float:left;
}
.width60 {
	width:65%;
	float:left;
}
.leftcontent {
	color: #000000;
	float: left;
	font-size: 14px;
	padding: 1% 0 0;
	text-align: left;
	width: 60%;
}


.leftcontent56 {
	color: #000;
	float: left;
	font-size: 14px;
	padding: 1% 0 0;
	text-align: left;
	width: 56%;
}

.leftcontentT {
	color: #000;
	float: left;
	font-size: 14px;
	padding: 1% 0 0;
	text-align: left;
	width: 50%;
	/*background:#00FF00;*/
}

.leftcontent57 {
	color: #fff;
	float: left;
	font-size: 12px;
	padding: 1% 0 0;
	text-align: left;
	width: 10%;
}



.fullwidth {
	color: #000000;
	float: left;
	font-size: 14px;
	padding: 1% 0 0;
	text-align: left;
	width: 100%;
}



.learningobject {
	background: #fefefe url(../images/pat.jpg) repeat-x left bottom;
	border: 4px solid #B0977E;
	border-radius: 10px;
	color: #000000;
	font-size: 15px;
	font-weight: normal;
	padding-top: 5px;
	text-align: center;
	padding:10px 25px;
	text-decoration:none;
	display:block;
	float:left;

}

.tabs { width:80%;}

.mrgnT2 {
    margin-top: 5%;
}

.mrgnL { margin-left:27%;}

.pdngB { padding-bottom:2%;}

.pdngB1 { padding-bottom:1%;}





.ovalbox {width: 150px;
	height:100px;
	background:#dad965;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow:  inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
	
	text-align: center;
	display: block;
	font-size: 14px;
	color: #000;
	line-height: 50px;
	padding:5% 0 0 0;
	outline: none;
	margin: 0 0 2% 0;
	cursor:pointer;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);	
	-webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; 
	background-clip: padding-box;
	opacity: 1;
	
	-webkit-transition: opacity 0.4s linear, -webkit-transform 0.4s linear, box-shadow 0.3s ease-in-out;
	-moz-transition: opacity 0.4s linear, -moz-transform 0.4s linear, box-shadow 0.3s ease-in-out;
	-o-transition: opacity 0.4s linear, -o-transform 0.4s linear, box-shadow 0.3s ease-in-out;
	-ms-transition: opacity 0.4s linear, -ms-transform 0.4s linear, box-shadow 0.3s ease-in-out;
	transition: opacity 0.4s linear, transform 0.4s linear, box-shadow 0.3s ease-in-out;
	overflow:hidden;
	font-weight:bold; border:8px solid #A1AA12;}





.cn-slide nav a{
	width: 150px;
	height:100px;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow:  inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
	float:left;
	text-align: center;
	display: block;
	font-size: 14px;
	color: #000;
	line-height: 18px;
	padding:5% 0 0 0;
	outline: none;
	margin: 0 0 2% 0;
	cursor:pointer;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);	
	/*-webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; 
	background-clip: padding-box;
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: opacity 0.4s linear, -webkit-transform 0.4s linear, box-shadow 0.3s ease-in-out;
	-moz-transition: opacity 0.4s linear, -moz-transform 0.4s linear, box-shadow 0.3s ease-in-out;
	-o-transition: opacity 0.4s linear, -o-transform 0.4s linear, box-shadow 0.3s ease-in-out;
	-ms-transition: opacity 0.4s linear, -ms-transform 0.4s linear, box-shadow 0.3s ease-in-out;
	transition: opacity 0.4s linear, transform 0.4s linear, box-shadow 0.3s ease-in-out;*/
	overflow:hidden;
	font-weight:bold;
}

.cn-slide nav a img { padding:22% 0 0 0;}


.cn-slide nav a:hover{
	box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
}
/*.cn-slide:target nav a {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.cn-slide nav a:nth-child(2){
	-webkit-transition-delay: 0.3s, 0.3s, 0s;
	-moz-transition-delay:0.3s, 0.3s, 0s;
	-o-transition-delay: 0.3s, 0.3s, 0s;
	-ms-transition-delay: 0.3s, 0.3s, 0s;
	transition-delay: 0.3s, 0.3s, 0s;
}
.cn-slide nav a:nth-child(3){
	-webkit-transition-delay: 0.6s, 0.6s, 0s;
	-moz-transition-delay: 0.6s, 0.6s, 0s;
	-o-transition-delay: 0.6s, 0.6s, 0s;
	-ms-transition-delay: 0.6s, 0.6s, 0s;
	transition-delay: 0.6s, 0.6s, 0s;
}
.cn-slide nav a:nth-child(4){
	-webkit-transition-delay: 0.9s, 0.9s,0s;
	-moz-transition-delay: 0.9s, 0.9s,0s;
	-o-transition-delay: 0.9s, 0.9s,0s;
	-ms-transition-delay: 0.9s, 0.9s,0s;
	transition-delay: 0.9s, 0.9s,0s;
}
*/

.bg1 { background:#f7b7d0; 	border: 8px solid #922551;}

.bg2 { background:#a5d9ef; border: 8px solid #31789b; }

.bg3 { background:#dad965; border: 8px solid #a1aa12;}

.bg4 { background:#d6bda4; border: 8px solid #bc946f;}

.wdth49 { width:49%;}

.codrops-demos {  margin:2% 0 0 0;}

.box {border:10px solid #e9e4d6; border-radius: 10px; background:#fff; float:left; padding:1%; margin:2% 0 0 0; width:92%; box-shadow: 1px 1px 3px rgba(0,0,0,0.2);	}

.redheading { background:#cc0000; color:#fff; font-size:16px; text-align:center; padding:1% 0; font-weight:bold;}


.plus { background:url(../images/bg-plus.png) no-repeat left top; height:24px; width:24px; margin:6% 1% 0 1%; }


.bgred { background-color:#FF0000; color:#fff; font-weight:bold;} 
table#boolen tr th, table#boolen tr td  { padding:1%;}

.blnksp {
    border-bottom: 1px solid #000000;
    display: inline-block;
    width: 50px;
}



.transparent {
	zoom: 1;
	filter: alpha(opacity=0);
	opacity: 0;
}

.topmargin10{
	margin-top:1%;
	width:auto;
}



h3 span {color: #FF0000; float: right; font-size: 12px; font-style: italic;}


img.rightimage {
    border: 1px solid #000000;
    width: 26.3%;
}
.rightimage {
    float: right;
}
	