.ch-img-3{
	background: #eee url(../images/mod1/box1.png) no-repeat center center; width:171px; height:129px;
}
.ch-img-4{
	background: #eee url(../images/mod1/box3.png) no-repeat center center; width:171px; height:129px;
}
.ch-img-8{
	background: #eee url(../images/mod1/box4.png) no-repeat center center; width:171px; height:129px;
}
.ch-img-9{
	background: #eee url(../images/mod1/box5.png) no-repeat center center; width:171px; height:129px;
}
.ch-img-10{
	background: #eee url(../images/mod1/box6.png) no-repeat center center; width:171px; height:129px;
}
.ch-img-m1p2{
	background: #eee url(../images/mod1/box.png) no-repeat center center; width:453px; height:388px;
}
