 
@media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : landscape){
video { width:74%; height:350px; }	

.grid { width:310px; height:310px;}

.clr3 img { width:70%;}


#smalvedio video { width:256px; height:202px; }



}

@media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
{

video { width:74%; height:350px; }	



.leftcontent { font-size:18px !important; }


#smalvedio video { width:256px; height:202px; }


}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 


body { min-height:650px !important;}
video { width:74%; height:350px !important;}



}







 
 @media all and (max-width: 480px) {

 nav {
margin: 0 auto;
width:277px;
}
 .cn-container h3 {
font-size:16px;
}
 footer p.floatL {
display: none;
}
 img {
 width:80%;
 height:auto;
 width: auto\9; /* ie8 */
 max-width:100%;
 margin: 0 3%;
}

/* .grid {
display: inline-block;
 height: 280px;
 margin: 5px 0;
 width: 280px;
}*/
 .gridBig {
height: 300px;
 width: 300px;
}
 .width30 {
width:100%;
float:left;
text-align:left;
}

.leftcontent, .learningobject, .rw-words p, .anstxt { font-size:12px;}

.rw-words h5 { font-size:14px;}

.mrgnL { margin-left:27%;}


.ch-item { width:85%; height:85%}

#nav li a { border-radius:0; border-bottom:1px solid #999;}

#one, #two, #three, #four { -webkit-background-size: 50%; -moz-background-size: 50%; -o-background-size: 50%; background-size: 50%;  -ms-background-size: 50%; min-height:250px; }

.cn-slide nav a { width:125px; padding:20% 0 0 0; height:75px;}

.plus { display:block; clear:both; width:100%; margin: 0 0 0 22%;}


.tabs img {
    height: auto;
    max-width: 100%;
    width: 100%;
	margin:0;
}

 img {
 width: 90%;
 height: 90%;
}

table.fnt { font-size:11px;}


}
