 
 @media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	
	video { width:74%; height:350px !important; }

/*h5 { font-size:18px !important;}
h3 { font-size:20px !important;}
p, span, li {font-size:20px !important;}*/
.tabs img { width:35%;}
.gridSml {width: 270px; height:auto;}
.ch-item {width:270px !important; height: 270px;}

.gridSml_b {width: 330px; height:auto;}
.ch-item_b {width:330px !important; height: 330px;}

.p3a, .p3b, .p3c, .p12a, .p12b, .p12c, .p12a1{ width:40%; background-size:100%;}

.ImgText { width:100% !important;}
#nav {width: 80%; position: relative; border: none; float:left;}
.nav1{ width:100% !important;}

.pg01{height:650px;}
.pg02{height:650px;}
.pg03{height:450px;}
.pg03a{height:450px;}
.pg04{height:650px;}
.pg05{height:700px;}
.pg06{height:500px;}
.pg06a{height:500px;}
.pg07{height:500px;}
.pg08{height:500px;}
.pg09{height:500px;}
.pg10{height:1050px;}
.pg10a{height:1050px;}
.pg11{height:450px;}
.pg12{height:600px;}
.pg12a{height:600px;}
.pg13{height:500px;}
.pg14{height:700px;}
.pg15{height:500px;}
.pg16{height:500px;}
.pg17{height:500px;}
.pg18{height:500px;}
.pg19{height:500px;}
.pg20{height:700px;}

.p10a{height:20%;}

.tab-panel, .w60{ width:80%;}
.simplelisting li { margin-left:10px !important;}
}

@media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	video { width:74%; height:350px !important; }
	
	


.gridSml{width: 300px;	height:auto;}
.ch-item {width:300px !important; height: 300px;}

.gridSml_b{width:400px;	height:auto;}
.ch-item_b {width:400px !important; height: 800px;}

.p3a, .p3b, .p3c, .p12a, .p12b, .p12c, .p12a1{ width:40%; background-size:100%;}

.ImgText { width:100% !important;}

.bodyTop{width:60%;}
.learningobject-grey{font-size:20px; width:89%;}

#nav {width:550px; /*position: relative; border: none; float:left;*/}
.nav1{ width:100% !important;}

.tab-panel, .w60{ width:80%;}
.simplelisting li { margin-left:10px !important;}
}
 

/* @media screen and (max-width: 1024px) {
 .width30 {
width:80%;
float:left;
text-align:left;
}
 .width60 {
width:100%;
float:left;
}

 video {
 width: 90%;
 height: 90%;
}


.tabs img {
    height: auto;
    max-width: 100%;
    width: 100%;
	margin:0;
}

.tab-panel { width:90%;}
#easyhtml5video { text-align:left;}


}
 @media screen and (max-width: 900px) {
 
 
 
 
 .leftcontent, .leftcontent56 {
width:100%; padding-bottom:2%;
}
 .hgt3 .cn-slide {
height:auto !important;
padding-bottom:30px;
}
 .gridBig {
height: 320px;
 width: 320px;
}
 .dsply {
display:block;
}

 .playerwrapper {
position: absolute;
bottom:0;
left:0;
z-index:1000;
display:none;
}
 .cn-slide {
 text-align: center;
 position: absolute;
 left: 0px;
 margin: 0 4%;
 opacity: 0;
 width:92%;
}
 .cn-container {
float:left;
}
 .imgcontaier img {
 width:100%;
 height:auto;
 width: auto\9; 
 max-width:100%;
 margin: 0;
}
 ul#footermenu {
 float: right;
}
}
 @media all and (max-width: 768px) {
 .cn-slide {
 left: 0;
 margin: 0 5%;
 opacity: 0;
 position: absolute;
 text-align: center;
}

.tab-panel { width:98%;}


}
 @media all and (max-width: 668px) {
 
 
}*/
 @media all and (max-width: 480px) {

 nav {
margin: 0 auto;
width:277px;
}
 .cn-container h3 {
font-size:16px;
}
 footer p.floatL {
display: none;
}
 img {
 width:80%;
 height:auto;
 width: auto\9; /* ie8 */
 max-width:100%;
 margin: 0 3%;
}

 .grid {
display: inline-block;
 height: 280px;
 margin: 5px 0;
 width: 280px;
}
 .gridBig {
height: 300px;
 width: 300px;
}
 .width30 {
width:100%;
float:left;
text-align:left;
}

.leftcontent, .learningobject, .rw-words p, .anstxt { font-size:12px;}

.rw-words h5 { font-size:14px;}

.mrgnL { margin-left:27%;}


.ch-item { width:85%; height:85%}


.ch-img-1 { -webkit-background-size: 48%; -moz-background-size: 48%; -o-background-size: 48%; background-size: 48%;  -ms-background-size:48%;}

#nav li a { border-radius:0; border-bottom:1px solid #999;}



.cn-slide nav a { width:125px; padding:20% 0 0 0; height:75px;}

.plus { display:block; clear:both; width:100%; margin: 0 0 0 22%;}


.tabs img {
    height: auto;
    max-width: 100%;
    width: 100%;
	margin:0;
}

.tab-panel { margin-bottom:0;}

.listing { margin:0;}
.listing li { list-style:none;}



ul.emplisting {
    margin: 40% 0 0;
	
	}


#one, #two, #three, #four { width:315px; }

}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 


body { min-height:650px !important;}
video { width:74%; height:350px !important; }



}
