 @media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {


 video { width:65.5%; height:350px !important; }
 


 .gridBig1, .gridBig {
 color: #000000;
 display: inline-block;
 height: 242px;
 margin: 0 1%;
 text-align: center;
 width: 250px;
 float:right;
}
 .gridSml {
 color: #000000;
 display: inline-block;
 height: 282px;
 margin: 0 1%;
 text-align: center;
 width: 280px;
}
 .width60 {
width:60%;
float:left;
}
 .floatleft {
float:left;
}
 .floatright {
float:right;
}



 .gridsquare {
 border: 1px solid #000000;
 display: inline-block;
 height: 210px;
 width: 250px;
 margin-top: 1%;
}
 .ch-img-1, .ch-img-2, .ch-img-3, .ch-img-4, .ch-img-5, .ch-img-6, .ch-img-7, .ch-img-8, .ch-img-9 {
 background-size:100%;
}
 .btnsubmit {
 background: url("../images/btn-submit.png") no-repeat scroll left top transparent;
 border: medium none;
 float: left;
 height: 40px;
 line-height: 40px;
 margin: 0 0 0 1%;
 text-indent: -9999px;
 width: 102px;
}


 .nwmdia {
 background: none repeat scroll 0 0 #D3D8DE;
 border-radius: 5px 5px 5px 5px;
 height: 180px;
 margin-top: 0.5%;
 overflow: hidden;
 padding: 2%;
 width: 80%;
}



.leftcontent{ width:71%;}



}


@media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  
 video { width:65.5%; height:350px !important; }
  

h5
{
font-size:20px !important;

}

.leftcontent { font-size:18px !important; }

 .width60 {
width:60%;
float:left;
}
 .gridBig1, .gridBig {
 color: #000000;
 display: inline-block;
 font-size: 20px;
 height: 302px;
 margin: 0 1%;
 text-align: center;
 width: 300px;
 float:right;
}
 .gridSml {
 color: #000000;
 display: inline-block;
 font-size: 20px;
 height: 282px;
 margin: 0 1%;
 text-align: center;
 width: 280px;
}


.floatleft {
float:left;
}
 .floatright {
float:right;
}
 .cn-container h3 {
font-size:30px;
margin:10px 0 5px 0;
}



 .playerwrapper {


 display:none;
}
 .gridsquare {
 border: 1px solid #000000;
 display: inline-block;
 height: 210px;
 width: 250px;
 margin-top: 1%;
}
 .ch-img-1, .ch-img-2, .ch-img-3, .ch-img-4, .ch-img-5, .ch-img-6, .ch-img-7, .ch-img-8, .ch-img-9 {
 background-size:100%;
}
.btnsubmit {
 background: url("../images/btn-submit.png") no-repeat scroll left top transparent;
 border: medium none;
 float: left;
 height: 40px;
 line-height: 40px;
 margin: 0 0 0 1%;
 text-indent: -9999px;
 width: 102px;
}


 .nwmdia {
 background: none repeat scroll 0 0 #D3D8DE;
 border-radius: 5px 5px 5px 5px;
 height: 180px;
 margin-top: 0.5%;
 overflow: hidden;
 padding: 2%;
 width: 80%;
}
}
 
 
 
@media screen and (device-aspect-ratio: 1280/720) {

video { width:65.5%; height:350px !important;  }

}

 
 
 @media all and (max-width: 480px) {
 .cn-container h2 {
 font-size: 18px;
 line-height: 95px;
 text-align:center;
}
 nav {
margin: 0 auto;
width:277px;
}
 .cn-container h3 {
font-size:16px;
}
 footer p.floatL {
display: none;
}
 img {
 width:80%;
 height:auto;
 width: auto\9; /* ie8 */
 max-width:100%;
 margin: 0 3%;
}
 .grid {
display: inline-block;
 height: 280px;
 margin: 5px 0;
 width: 280px;
}
 .gridBig {
height: 300px;
 width: 300px;
}
 .width30 {
width:100%;
float:left;
text-align:left;
}
 .leftcontent, .learningobject, .rw-words p, .anstxt {
font-size:12px;
}
 .rw-words h5 {
font-size:14px;
}
 .mrgnL {
margin-left:27%;
}
.bgbrowser {
 background: url(../images/bg-browser-sml.png) no-repeat left top;
 width:100%;
 bg-browser-sml width:100%;
 -moz-background-size: 100%;
padding:10% 0 0 0;
 -o-background-size: 100%;
 -ms-background-size: 100%;
 background-size: 100%;
}
 .gridsquare {
 border: 1px solid #000000;
 display: inline-block;
 height: 210px;
 width: 250px;
 margin-top: 1%;
}
 .ch-img-1, .ch-img-2, .ch-img-3, .ch-img-4, .ch-img-5, .ch-img-6, .ch-img-7, .ch-img-8, .ch-img-9 {
 background-size:100%;
}
.btnsubmit {
 background: url("../images/btn-submit.png") no-repeat scroll left top transparent;
 border: medium none;
 float: left;
 height: 40px;
 line-height: 40px;
 margin: 0 0 0 1%;
 text-indent: -9999px;
 width: 102px;
}
.gridsquare1 {
 border: 1px solid #000000;
 display: inline-block;
 height: 210px;
 width: 250px;
 margin-top: 1%;
}
 video {
 height: 90%;
 width: 90%;
}
 .nwmdia {
 background: none repeat scroll 0 0 #D3D8DE;
 border-radius: 5px 5px 5px 5px;
 height: 180px;
 margin-top: 0.5%;
 overflow: hidden;
 padding: 2%;
 width: 80%;
}
video { width:74%; height:350px !important; }

}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 


body { min-height:650px !important;}
video { width:74%; height:350px; }



}

