/************************************
	General Reset
	************************************/
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
/*	width:100%;*/
}
body {
	-webkit-text-size-adjust:none;
	font:14px/1.4 Arial, sans-serif;
	background: #c2edf4;
	color:#000;
	margin:0;
}
h1, h2, h3 {
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
	transition: all 0.6s ease-in-out 0.2s;
}
/*h1, h2 {
	font-size:34px;
	text-align: left;
	margin:0;
	color:#000;
	line-height:25px;
	float:left;
}*/


table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color:#318FC5;
	outline:none;
}
a:hover {
	text-decoration:none;
}
fieldset, img {
	border:none;
}
img {
	line-height:0;
}
input, select, textarea, form, fieldset {
	margin:0;
	padding:0;
}
buttoncitation{
	margin:0;
	padding:0;
	float:left;
}
button{
	margin:0;
	padding:0;
	float:left;
}


.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
ul, p {
	padding:0;
	margin:0;
}
.floatL {
	float:left;
}
.floatR {
	float:right;
}

/*video { width:70%; height:100%;}*/
/*******************
	General Styles
	*******************/


.cn-container {
	height: 100%;
	margin: 0 auto;
	width: 98%;
}
.cn-container h3 {
	  color: #003376;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    line-height: 40px;
    margin: 10px 0 0;
    padding: 8px 0 0;
    text-align: left;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 1px 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 10000;
}
.cn-slide {
	text-align: left;
	position: absolute;
	left: 0;
	margin: 0 1%;
	/*opacity: 0;*/
	width:98%;
	height:100%;
}
/*.cn-slide:target {
	opacity: 1;
	z-index: 1;
}*/
.leftcontent h5 {
	color:#0066cc;
	font-size:16px;
	font-weight:normal;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 1px 1px 1px rgba(0, 0, 0, 0.2);
	margin:3% 0 1% 0;
}
.simplelisting {
	margin:0 0 0 5%;
	overflow:visible !important;
}



ul.simplelisting li{ /* initial CSS for demo 1 (before it's animated) */
opacity: 0; /* animate opacity into view */
left: -100%; /* animate left property into view */
}

ul.simplelisting-after li{ /* Post CSS for demo 1 (after it's animated). "demo1-after" dynamically added to UL */
opacity: 1;
left: 0;
}


ul.demo1 { overflow:visible !important; margin:0 0 0 5%;}


ul.demo1 li{ /* initial CSS for demo 1 (before it's animated) */
opacity: 0; /* animate opacity into view */
left: -100%; /* animate left property into view */
}

ul.demo1-after li{ /* Post CSS for demo 1 (after it's animated). "demo1-after" dynamically added to UL */
opacity: 1;
left: 0;
}




.simplelisting li {
	list-style:disc;
	margin:1% 0;
}

.listing li {
	list-style:disc;
	margin:1% 0;
}

.listing {
	margin:0 0 0 5%;
	
}

.rw-words {
	display: inline;
	text-align:left;
}
.rw-words h5 {
	color:#0066cc;
	font-size:16px;
	font-weight:normal;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 1px 1px 1px rgba(0, 0, 0, 0.2);
	margin:1% 0 1% 0;
}
/*.rw-words-2 div.grid, .rw-words-2 div.gridSml, .rw-words-2 div.gridBig   {
	-webkit-animation: rotateWordsFirst 2s linear 0s;
	-moz-animation: rotateWordsFirst 2s linear 0s;
	-o-animation: rotateWordsFirst 2s linear 0s;
	-ms-animation: rotateWordsFirst 2s linear 0s;
	animation: rotateWordsFirst 2s linear 0s;
}*/

input[type=text] {
	border: 5px solid white;
	-webkit-box-shadow: 
 inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 
 inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	box-shadow: 
 inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	padding: 1%;
	background: rgba(255, 255, 255, 0.5);
	margin: 0 0 10px 0;
	border-radius:5px;
	width:93%;
}
.red {
	color:#ff0000;
}
.pdngTB1 {
	padding:1% 0;
}
.grid {
	display: inline-block;
	height: 320px;
	margin: 20px 0;
	width: 320px;
}
.gridSml {
	display: inline-block;
	height: 250px;
	margin: 4% 1%;
	width: 250px;
	text-align:center;
	color:#000;
	font-size:16px;
}
.gridSml p {
	padding:2% 0 0 0;
}
.gridSml p a {
	text-decoration:none;
	color:#000;
}
.gridBig {
	display: inline-block;
	height: 420px;
	width: 420px;
	text-align:center;
	color:#000;
	font-size:20px;
	margin: 4% 1%;
	
}
.gridBig p {
	padding:2% 0 0 0;
}
.gridBig p a {
	text-decoration:none;
	color:#000;
}
.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
 inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.ch-img-1 {
	background: #eee url(../images/research.jpg) no-repeat center center;
}

.p6img1 {background: url(../images/5-stepplan1.png) no-repeat center center; width:180px; height:333px; padding:1% 0;}
.p6img2 {background: url(../images/5-stepplan2.png) no-repeat center center; width:180px; height:338px; padding:1% 0;}
.p6img3 {background: url(../images/5-stepplan3.png) no-repeat center center; width:180px; height:331px; padding:1% 0;}
.p6img4 {background: url(../images/5-stepplan4.png) no-repeat center center; width:180px; height:333px; padding:1% 0;}
.p6img5 {background: url(../images/5-stepplan5.png) no-repeat center center; width:180px; height:333px; padding:1% 0;}


.whiteboxwdth p {
    width: 170px; 
}


button {
	width:80px;
	height:30px;
	padding:0;
	background:#ffd65e;
	border: 1px solid #ffc92b;
	color:#000;
	cursor:pointer;
	margin:15px 0 0 0;
	font-weight:bold;
	
}
button[disabled] {
	margin:15px 0 0 0;
	background:#ccc;
	border:1px solid #ddd;
	font-weight:bold;
}
buttoncitation {
	width:80px;
	height:30px;
	padding:0;
	background:#ffd65e;
	border: 1px solid #ffc92b;
	color:#000;
	cursor:pointer;
	margin:15px 0 0 0;
	font-weight:bold;
	
}
buttoncitation[disabled] {
	margin:15px 0 0 0;
	background:#ccc;
	border:1px solid #ddd;
	font-weight:bold;
}
FORM {
	padding: 0 0 0 1%;
}
FORM p {
	margin:1% 0;
}
.playerwrapper {
	clear:both;
	position: absolute !important;
	bottom:0px;
	left:20px;
	z-index:99999;
	display:none;
}
.msg {
	opacity:1;
	background-color:#0066cc;
	height:20px;
	color:#fff;
	border-radius:5px;
	position:absolute;
	z-index:9999;
	right:0;
	padding:0 5px;
	bottom: 3px;
	text-align:center;
	-ms-filter:"progid:DXImageTransform.Microsoft. Alpha(Opacity=0)";
}
.msg a {
	color:#fff;
	text-decoration:none;
}
.anstxt {
	border: 2px solid #B0977E;
	border-radius: 10px;
	padding:8px;
	margin:1% 0 0 0;
	background:#fff;
}
.bdrrdus {
	border-radius: 25px;
}

.width30 {
	width:30%;
	float:left;
}
.width60 {
	width:65%;
	float:left;
}
.leftcontent {
	color: #000000;
	float: left;
	font-size: 14px;
	padding: 1% 0 0;
	text-align: left;
	width: 60%;
}


.leftcontent56 {
	color: #fff;
	float: left;
	font-size: 14px;
	padding: 1% 0 0;
	text-align: left;
	width: 56%;
}


.leftcontent56 h5 { color:#fff;}

.fullwidth {
	color: #000000;
	float: left;
	font-size: 14px;
	text-align: left;
	width: 100%;
}



.learningobject {
	background: #fefefe url(../images/pat.jpg) repeat-x left bottom;
	border: 4px solid #B0977E;
	border-radius: 10px;
	color: #000000;
	font-size: 15px;
	font-weight: normal;
	padding-top: 5px;
	text-align: center;
	padding:10px 25px;
	text-decoration:none;
	display:block;
	float:left;
	cursor:pointer;

}



.mrgnT2 {
    margin-top: 5%;
}

.mrgnL { margin-left:27%;}

.pdngB { padding-bottom:2%;}

.pdngB1 { padding-bottom:1%;}
.pdng { padding:1%;}





.ovalbox {width: 150px;
	height:100px;
	background:#dad965;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow:  inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
	
	text-align: center;
	display: block;
	font-size: 14px;
	color: #000;
	line-height: 50px;
	padding:5% 0 0 0;
	outline: none;
	margin: 0 0 2% 0;
	cursor:pointer;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);	
	-webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; 
	background-clip: padding-box;
	opacity: 1;
	
	-webkit-transition: opacity 0.4s linear, -webkit-transform 0.4s linear, box-shadow 0.3s ease-in-out;
	-moz-transition: opacity 0.4s linear, -moz-transform 0.4s linear, box-shadow 0.3s ease-in-out;
	-o-transition: opacity 0.4s linear, -o-transform 0.4s linear, box-shadow 0.3s ease-in-out;
	-ms-transition: opacity 0.4s linear, -ms-transform 0.4s linear, box-shadow 0.3s ease-in-out;
	transition: opacity 0.4s linear, transform 0.4s linear, box-shadow 0.3s ease-in-out;
	overflow:hidden;
	font-weight:bold; border:8px solid #A1AA12;}





.cn-slide nav a{
	width: 150px;
	height:100px;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow:  inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
	float:left;
	text-align: center;
	display: block;
	font-size: 14px;
	color: #000;
	line-height: 18px;
	padding:5% 0 0 0;
	outline: none;
	margin: 0 0 2% 0;
	cursor:pointer;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);	
	-webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; 
	background-clip: padding-box;
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: opacity 0.4s linear, -webkit-transform 0.4s linear, box-shadow 0.3s ease-in-out;
	-moz-transition: opacity 0.4s linear, -moz-transform 0.4s linear, box-shadow 0.3s ease-in-out;
	-o-transition: opacity 0.4s linear, -o-transform 0.4s linear, box-shadow 0.3s ease-in-out;
	-ms-transition: opacity 0.4s linear, -ms-transform 0.4s linear, box-shadow 0.3s ease-in-out;
	transition: opacity 0.4s linear, transform 0.4s linear, box-shadow 0.3s ease-in-out;
	overflow:hidden;
	font-weight:bold;
}

.cn-slide nav a img { padding:22% 0 0 0;}


.cn-slide nav a:hover{
	box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
}
.cn-slide:target nav a {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.cn-slide nav a:nth-child(2){
	-webkit-transition-delay: 0.3s, 0.3s, 0s;
	-moz-transition-delay:0.3s, 0.3s, 0s;
	-o-transition-delay: 0.3s, 0.3s, 0s;
	-ms-transition-delay: 0.3s, 0.3s, 0s;
	transition-delay: 0.3s, 0.3s, 0s;
}
.cn-slide nav a:nth-child(3){
	-webkit-transition-delay: 0.6s, 0.6s, 0s;
	-moz-transition-delay: 0.6s, 0.6s, 0s;
	-o-transition-delay: 0.6s, 0.6s, 0s;
	-ms-transition-delay: 0.6s, 0.6s, 0s;
	transition-delay: 0.6s, 0.6s, 0s;
}
.cn-slide nav a:nth-child(4){
	-webkit-transition-delay: 0.9s, 0.9s,0s;
	-moz-transition-delay: 0.9s, 0.9s,0s;
	-o-transition-delay: 0.9s, 0.9s,0s;
	-ms-transition-delay: 0.9s, 0.9s,0s;
	transition-delay: 0.9s, 0.9s,0s;
}


.bg1 { background:#f7b7d0; 	border: 8px solid #922551;}

.bg2 { background:#a5d9ef; border: 8px solid #31789b; }

.bg3 { background:#dad965; border: 8px solid #a1aa12;}

.bg4 { background:#d6bda4; border: 8px solid #bc946f;}

.wdth60 { width:60%;}
.wdth80 { width:80%;}
.wdth90 { width:90%;}
.wdth98 { width:98%;}

.codrops-demos {  margin:2% 0 0 0;}

.box {border:10px solid #e9e4d6; border-radius: 10px; background:#fff; float:left; padding:1%; margin:2% 0 0 0; width:92%; box-shadow: 1px 1px 3px rgba(0,0,0,0.2);	}

.redheading { background:#cc0000; color:#fff; font-size:16px; text-align:center; padding:1% 0; font-weight:bold;}


.plus { background:url(../images/bg-plus.png) no-repeat left top; height:24px; width:24px; margin:6% 1% 0 1%; }


.bgred { background-color:#FF0000; color:#fff; font-weight:bold;} 
table#boolen tr th, table#boolen tr td  { padding:1%;}

.blnksp {
    border-bottom: 1px solid #000000;
    display: inline-block;
    width: 50px;
}



.transparent {
	zoom: 1;
	filter: alpha(opacity=0);
	opacity: 0;
}




.orangebox { width:250px; background:#fff; float:left; border-radius:10px; box-shadow: 1px 1px 3px rgba(0,0,0,0.2); margin:1% 2% 0 0; padding:1%;  }

.orangebox img { padding: 1% 0;}


.whitebox { background:#fff; float:left; border-radius:10px; box-shadow: 1px 1px 3px rgba(0,0,0,0.2); margin:1% 1% 0 0; padding:1%; width:auto;  }

<!--.whiteboxmediam {  background:#fff; float:left; border-radius:10px; box-shadow: 1px 1px 3px rgba(0,0,0,0.2); margin:1% 1% 0 0; padding:1%; width:405px;  }-->
<!--.whiteboxlarge {  background:#fff; float:left; border-radius:10px; box-shadow: 1px 1px 3px rgba(0,0,0,0.2); margin:1% 1% 0 0; padding:1%; width:880px;  }-->
.whiteboxsml {  background:#fff; float:left; border-radius:10px; box-shadow: 1px 1px 3px rgba(0,0,0,0.2); margin:1% 1% 0 0; padding:1%; width:205px;  }
<!--.whiteboxmediam1 {  background:#fff; float:left; border-radius:10px; box-shadow: 1px 1px 3px rgba(0,0,0,0.2); margin:1% 1% 0 0; padding:1%; width:630px;  }-->
.whiteboxHidden {  background:#fff; float:left; border-radius:10px; box-shadow: 1px 1px 3px rgba(0,0,0,0.2); margin:1% 1% 0 0; padding:1%; width:auto; }
.clr
{
color:#666666;
}
.pdngT1 {
    padding-top: 1%;
}
.whiteboxwdth {
	background:#fff;
	float:left;
	border-radius:10px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	margin:1% 1% 0 0;
	padding:1%;
	min-width:50px;
	max-width:300px;
}
.scroll {
	height:122px;
	width:auto;
	overflow-x:hidden;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 2px solid #B0977E;
	border-radius: 10px;
	margin: 1% 0 0;
	padding: 8px;
	
}
.clr1
{
color:#0066CC;
}
.mrgnt
{
margin-top:1%;
}
/*video
{
padding:1% 0 0;
}*/
.mrgnT3 {
	margin-top: 2%;
}
.ap{ min-height:380px;}
.ap1{ min-height:500px;}

.te
{
font-size:12px;
text-align:left;
}

h3 span {
    color: #FF0000;
    float: right;
    font-size: 12px;
    font-style: italic;
}

citation {
    font-size: 12px;
    text-align: left;
}
